.overview-fold_container
    .overview-fold_header
        img.logo(src='assets/img/samsung-logo.svg' alt='Samsung')

        figure.overview-fold_head-figure
            figcaption.overview-fold_head-figure-caption
                img.logo(src='assets/img/galaxy-fold.svg' alt='Galaxy')
                img.overview-fold_head-figure-caption-bg(src='assets/img/fold-phone.png' alt='Fold')

    .overview-fold_text-block
        h5 Galaxy Fold. A device unlike any before.
        p A device unlike any before. Galaxy Fold doesn't just define a new category, it defies category. Today, we introduce the biggest breakthrough since the mobile phone. Today, the future unfolds with Galaxy Fold.


    .overview-fold_top-grid
        .overview-fold_top-grid-item
            img(src='assets/img/fold-grid-one.svg' alt='Grid image one')
            h2 Infinity Flex Display
            p A stunning 7.3-inch Dynamic AMOLED display that defies expectations. Made of a revolutionary polymer material layered for slim flexibility, it's the largest Galaxy smartphone screen yet.

        .overview-fold_top-grid-item
            img(src='assets/img/fold-grid-two.svg' alt='Grid image two')
            h2 Speed and storage
            p With 12GB of RAM for intensive multitasking, go from gaming to streaming and live broadcasting all at once. Galaxy Fold holds the largest base storage capacity of any Galaxy at 512GB, with the deftness and power of UFS 3.0 for faster read/write capabilities. Massive, fast storage that will never limit what you create or keep.

    .overview-fold_text-block.grid
        p The articulated spine makes folds smooth and graceful. An engineering marvel inspired by the precision of watch mechanics, the hinge delivers symmetrical movement that gently locks in place. So Galaxy Fold intuitively folds like a book.


    .overview-fold_features
        h5 Top Features

        ul.overview-fold_features-list
            li.overview-fold_features-list-item
                .overview-fold_features-list-item-content
                    h6 Capture any way you hold it or fold it
                    p With six pro-grade cameras, capture brilliant shots and videos folded or unfolded, landscape or portrait, dusk or dawn. Even use the Infinity Flex Display as a massive viewfinder.The Samsung Galaxy Fold supports wireless charging, as well as Quick Charge 2.0 fast charging.

            li.overview-fold_features-list-item
                .overview-fold_features-list-item-content
                    h6 Breakthrough in multitasking
                    p The Galaxy Fold is pioneering the seamless integration of hardware and software for a foldable device. Use up to three apps simultaneously — you can stream, game, and even text all at once.


.overview-fold_container-fullwidth
    .overview-fold_container-fullwidth-content
        h5 Be the first to own Galaxy Fold
        a(href="#", target="_blank") Buy it via official


.overview-fold_container.app
    .overview-fold_app-container
        .overview-fold_app-content
            .overview-fold_text-block
                h5 Futuristic colors to match your style
                p Mix and match to stand out with brilliant options for hinge and cover colors, like Space Silver, Cosmos Black, Astro Blue, and Martian Green.

        .overview-fold_app-images
            img(src='assets/img/fold-phone-one.jpg' alt='Fold')
            img(src='assets/img/fold-phone-two.jpg' alt='Fold')


.overview-fold_container-fullwidth-black
    .overview-fold_text-block
        h5 Protection with outstanding style
        p Leather Cover wraps your phone in luxury with your choice of colors in premium calfskin leather

    .overview-fold_image-block
        img(src='assets/img/fold-black.png' alt='Fold')
        a(href="#", target="_blank") Check availability


.overview-fold_container
    .overview-fold_footer
        .overview-fold_text-block
            h5 Discover the next generation
            p Two display sizes on one incredible device. Be the first to own Galaxy Fold.

            a.overview-fold_text-block-link(href="#", target="_blank") Buy it via official



