$fold-green: #02804C

.overview-fold
    &_container
        display: grid
        grid-template-columns: 100%
        padding: 55px 30px 0

        &.app
            padding: 150px 30px

    &_header
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center

        img.logo
            width: 157px

    &_head-figure
        width: 900px
        height: 524px
        background-image: linear-gradient(0deg, #000000, #000000)
        border-radius: 6px
        margin-top: 48px

    &_head-figure-caption
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        padding: 32px
        height: 100%
        position: relative

        .logo
            width: 185px
            position: absolute
            left: 32px
            bottom: 32px


    &_head-figure-caption-bg
        max-width: 670px


    &_text-block
        max-width: 80%
        margin: 120px auto
        text-align: center

        &.grid
            margin: 0 auto

        h5
            font-family: $font-geometria-medium
            font-size: 3vw
            margin-bottom: 24px
            text-transform: capitalize

        p
            color: #4D4B4B
            opacity: 0.7
            font-size: 16px


    &_top-grid
        display: grid
        grid-template-columns: repeat(2, auto)
        grid-gap: 30px
        padding-bottom: 55px


    &_top-grid-item
        display: flex
        align-items: center
        justify-content: flex-start
        flex-direction: column
        text-align: center
        background: #F8F8F8
        border-radius: 12px
        height: 500px
        padding: 80px 44px 44px 44px

        &:first-child
            img
                max-width: 70px

        &:last-child
            img
                max-width: 96px

        img
            height: 90px

        h2
            font-family: $font-geometria-medium
            font-size: 32px
            margin: 46px 0 16px

        p
            color: #4D4B4B
            opacity: 0.7
            font-size: 16px


    &_features
        margin: 120px auto
        max-width: 70%
        text-align: center

        h5
            font-family: $font-geometria-medium
            font-size: 3vw
            margin-bottom: 60px

    &_features-list
        counter-reset: number
        list-style-type: none
        padding-left: 90px

        li
            position: relative
            text-align: left
            margin-bottom: 60px

            &:last-child
                margin-bottom: 0

            &:after
                content: counter(number) "\a0"
                counter-increment: number
                display: flex
                justify-content: center
                align-items: center
                height: 48px
                width: 48px
                border-radius: 50%
                background: $fold-green
                color: $app-white
                font-family: $font-geometria-bold
                position: absolute
                z-index: -1
                top: 0
                left: -90px
                padding-left: 3px

    &_features-list-item-content
        h6
            font-family: $font-geometria-medium
            font-size: $font-size-large

        p
            font-size: $font-size-medium
            color: #4D4B4B
            opacity: 0.7


    &_container-fullwidth
        position: relative
        background: $fold-green
        mix-blend-mode: multiply
        height: 300px
        background-image: url("../../../../../assets/img/fold-cta.jpg")
        background-repeat: no-repeat
        background-size: cover

        &:after
            content: ""
            position: absolute
            top: 0
            width: 100%
            height: 100%
            background: $fold-green
            mix-blend-mode: multiply

    &_container-fullwidth-content
        position: absolute
        top: 0
        width: 100%
        height: 100%
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        color: $app-white
        z-index: 2


        h5
            font-family: $font-geometria-medium
            font-size: 3vw
            line-height: 3vw
            margin-bottom: 30px
            text-transform: capitalize


        a
            display: flex
            align-items: center
            justify-content: center
            width: 280px
            height: 60px
            margin: 0 auto
            background: $app-white
            color: $fold-green
            border-radius: 5px

            &:hover
                color: $fold-green


    &_app-container
        display: grid
        grid-template-columns: repeat(2, auto)
        grid-gap: 90px
        padding-bottom: 55px
        max-width: 80%
        margin: 0 auto


    &_app-content
        display: flex
        flex-direction: column
        justify-content: space-evenly

        .overview-fold_text-block
            margin: 0
            max-width: 95%
            text-align: left

    &_app-images
        position: relative

        img
            &:first-child
                width: 262px
                height: 262px
                border-radius: 6px

            &:last-child
                position: absolute
                width: 262px
                height: 262px
                left: 25%
                z-index: -1
                top: 25%
                border-radius: 6px


    &_container-fullwidth-black
        background: $app-black
        padding: 100px 0
        color: $app-white

        .overview-fold_text-block
            max-width: 85%
            margin: 0 auto 60px

            h5, p
                color: $app-white


    &_image-block
        display: flex
        flex-direction: column
        align-items: center

        img
            max-width: 600px
            border-radius: 12px

        a
            display: flex
            align-items: center
            justify-content: center
            width: 280px
            height: 60px
            margin: 0 auto
            margin-top: -30px
            background: $app-white
            color: $fold-green
            border-radius: 5px

            &:hover
                color: $fold-green

    &_text-block-link
        display: flex
        align-items: center
        justify-content: center
        width: 280px
        height: 60px
        margin: 30px auto 0
        background: $fold-green
        color: $app-white
        border-radius: 5px

        &:hover
            color: $app-white


@media only screen and (max-width: 768px)
    .overview-fold

        &_container
            padding: 55px 20px 0

        &_top-grid
            grid-template-columns: repeat(1, auto)

        &_features
            margin: 40px auto
            max-width: 100%

            h5
                text-align: left
                margin-bottom: 48px
                font-size: 32px

        &_head-figure
            width: 95%
            height: 340px
            margin: 30px auto 100px


        &_features-list
            padding-left: 0
            padding-top: 60px

            li
                margin-bottom: 120px

                &:after
                    top: -70px
                    left: 0

        &_features-list-item-content
            p
                font-size: 14px

        &_text-block
            max-width: 100%
            margin: 0 auto 80px
            text-align: left

            h5
                font-family: $font-geometria-medium
                font-size: 32px
                margin-bottom: 24px
                text-transform: capitalize

            p
                font-size: 14px
                opacity: 0.7


        &_top-grid-item
            height: auto
            padding: 48px 20px

            &:first-child
                img
                    max-width: 60px

            &:last-child
                img
                    max-width: 66px

            img
                height: 60px

            h2
                font-size: 24px

            p
                font-size: 14px

        &_container-fullwidth
            h5
                font-size: 32px
                line-height: 1
                text-align: center

        &_container-fullwidth-black
            padding: 100px 60px

            .overview-fold_text-block
                max-width: 100%
                margin: 0 auto
                text-align: center

        &_app-container
            max-width: 100%
            grid-template-columns: repeat(1, auto)
            grid-gap: 40px

        &_container.app
            padding: 80px 30px

        &_footer
            .overview-fold_text-block
                margin: 0
                text-align: center

        &_image-block
            a
                width: 100%


