.cta_container
    h1
        font-size: $font-size-mega-large
        color: $app-white
        font-weight: $font-weight-semi-bold
        line-height: 56px
        text-align: left
        margin-bottom: 30px

    &-bottom-section
        display: grid
        grid-template-columns: 1fr 1fr

        &-button
            display: flex
            justify-content: space-around
            align-items: center
            height: 65px
            width: 280px
            font-weight: $font-weight-semi-bold
            font-size: $font-size-regular
            color: $app-black
            cursor: pointer
            letter-spacing: .2px
            transition: $app-base-transition
            box-shadow: 0 1px 20px 0 rgba(0, 0, 0, .24)
            border: none
            background-image: linear-gradient(40deg, #8C1212 7%, #EB5D4E 100%)
            background-position-y: bottom
            background-repeat-y: no-repeat
            background-attachment: initial
            background-origin: initial
            background-color: $app-white
            background-size: 100% 2px

            &:active, &:focus
                outline: none

            &:hover
                box-shadow: 1px 2px 20px 0 rgba(0, 0, 0, 0.6)

            svg
                fill: $app-black
                width: 10px
                height: 15px


        &-list
            ul
                li
                    display: block
                    color: $app-white
                    line-height: 23px
                    font-size: 20px
                    margin-bottom: 15px


@media only screen and (max-width: 768px)
    section.section.section-cta
        padding: 24px 0

    .cta_container

        h1
            font-size: 36px
            line-height: 36px
            margin-bottom: 24px

        &-bottom-section
            grid-template-columns: 1fr

            &-button
                margin: 24px 0
