.section-container.section-cta
    .container.container_narrow.cta_container
        .section-content
            h1 We Help Great Products Get in Front of the Right People
            .cta_container-bottom-section
                button.cta_container-bottom-section-button Become a partner
                    svg.icon
                        use(xlink:href="#pixel_arrow")

                .cta_container-bottom-section-list
                    ul
                        li - Boost Sales & Exposure for you product
                        li - Instantly Increase Brand Awareness
                        li - Advertise in Front of Target Consumers
                        li - World Class 24/7 Customer Support
                        li - Advertise your Crowdfunding Project