.features-section
    padding: 30px 0

.features-grid
    display: grid
    grid-template-columns: repeat(3, auto)

    &_item
        text-align: center

        svg
            width: 190px
            height: 170px

        &-content
            max-width: 360px
            margin: 0 auto
            padding: 0 8%

            h3
                font-family: $font-geometria
                font-size: $font-size-large
                line-height: 1
                margin: 20px 0
                text-transform: uppercase

            p
                margin: 0