.section-container.features-section
    .container
        .section-title
            h2 Features

        .section-content
            .features-grid
                .features-grid_item
                    svg.icon
                        use(xlink:href="#feature-1")

                    .features-grid_item-content
                        h3 Enjoy smart
                        p Smart platform with smart products for smart people
                .features-grid_item
                    svg.icon
                        use(xlink:href="#feature-2")

                    .features-grid_item-content
                        h3 Enjoy tech
                        p Access smart products ratings and reviews from tech geeks all over the world to make a right decision.
                .features-grid_item
                    svg.icon
                        use(xlink:href="#feature-3")

                    .features-grid_item-content
                        h3 Join 4Prototypes
                        p Easy to navigate, easy to search, easy to decide and easy to buy — we’re easy about smart.