.overview-section
    display: grid
    grid-template-columns: 100%
    padding: 55px 30px

    &_description-text
        p
            font-size: $font-size-middle

            .MsoNormal
                img
                    max-width: 80%
                    width: 80%

    &_description-image
        max-width: 300px

.overview-section_collapse
    position: relative
    height: auto
    border-top: 0

    &_show-label
        width: 215px
        height: 50px
        overflow: hidden
        position: absolute
        left: 40%
        top: -25px

    &-collapsed-bottom
        display: grid
        grid-template-columns: 50% 50%
        background: #F8F8F8
        padding: 0 30px

        &-description
            flex-direction: column
            display: flex
            justify-content: flex-end
            padding-bottom: 30px

            h1
                max-width: 60%

            p
                max-width: 85%
                font-size: $font-size-middle

.features-row
    display: grid
    grid-template-columns: 30% 30% 30%
    justify-content: space-between
    padding: 30px
    border-top: 1px solid rgba(0,0,0,.1)

    img
        height: 250px

    &_content
        h4
            text-transform: uppercase
        p
            font-size: $font-size-middle

.label
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    height: 100%
    cursor: pointer
    color: $app-white
    font-size: $font-size-middle

    &.more
        background: $vivid-raspberry

    &.less
        background: #353D45

input.more-less_input[type="checkbox"] ~ .overview-section_collapse-collapsed
    width: 100%
    overflow: hidden
    max-height: 0

input.more-less_input[type="checkbox"]
    display: none

input.more-less_input[type="checkbox"]:checked ~ .overview-section_collapse-collapsed
    max-height: 100%

input.more-less_input[type="checkbox"]:checked + .overview-section_collapse_show-label
    top: 97%

input.more-less_input[type="checkbox"]:checked + .overview-section_collapse_show-label .more
    display: none


@media only screen and (max-width: 768px)
    .overview-section
        padding: 55px 0
