.overview-section
    .overview-section_description
        .overview-section_description-text
            h1 Stream in HD. Record in 4K.
            p Broadcast live in Full HD 1080p to supported platforms or record in stunning 4K to the included Micro SD card.
        .overview-section_description-image
            img(src="assets/img/ss-quality_second.png", alt="Quality")
    .overview-section_picture
        .overview-section_picture-image
            img(src="assets/img/ss-quality.png", alt="Quality")

.overview-section_collapse
    .overview-section_collapse-collapsed
        .features-row
            .features-row_item
                img(src='assets/img/stream-wifi.png')
                .features-row_content
                    h4 Wi-fi
                    p Connect Mevo Plus and your mobile device to a Wi-Fi network and start streaming in seconds.
            .features-row_item
                img(src='assets/img/stream-lte.png')
                .features-row_content
                    h4 LTE
                    p Use Hotspot Mode to stream from virtually anywhere over your mobile carrier network.
            .features-row_item
                img(src='assets/img/stream-ethernet.png')
                .features-row_content
                    h4 Ethernet
                    p Plug directly into your router to ensure the most reliable connection via Mevo Boost