@mixin button-bg($background, $width)
    background: $background
    width: $width
    height: $app-button-height
    line-height: $app-button-height
    font-size: $font-size-middle
    font-weight: $font-weight-semi-bold
    color: $app-white
    text-align: center
    text-decoration: none
    border-radius: $border-radius-default
    border: none
    text-transform: uppercase
    cursor: pointer

    &:focus, &:active
        outline: none

    &:hover, &:active
        color: $app-black
        transition: $app-base-transition


@mixin text-link($font-size, $font-weight, $color)
    font-size: $font-size
    font-weight: $font-weight
    color: $color
    transition: $app-base-transition

    &:hover, &:active
        color: $vivid-raspberry
        text-decoration: none
