.single_product
    &-card,
    &-tabs
        box-shadow: 1px -1px 4px 0 rgba(0, 0, 0, 0.06), 0 2px 4px 0 rgba(0, 0, 0, 0.16)

    &-section
        display: grid
        grid-template-columns: 1fr 1fr
        grid-gap: 24px
        padding: 15px 15px 25px
        box-sizing: border-box

        &:first-child
            padding-bottom: 0

        &:last-child
            padding-top: 0

    &-video
        background: $app-lighter-grey-hover
        padding: 25px 15px

    &-carousel
        display: flex
        flex-direction: column
        overflow-x: hidden
        padding: 30px 0

        .carousel-title
            display: flex

            h4
                font-weight: $font-weight-semi-bold
                margin-right: $app-spacing-default

        .owl-carousel
            padding: 0 2px

            .owl-nav
                margin: 0
                position: absolute
                top: -32px
                right: 0

                button
                    margin: 0

                    .navigation-button
                        width: 40px
                        height: 25px
                        background: $vivid-raspberry
                        border-top-right-radius: 12px
                        border-bottom-right-radius: 12px

                        svg
                            width: 10px

                    &:hover
                        background: transparent

                    &.owl-prev
                        margin-right: 3px

        .owl-stage-outer
            overflow: visible

        .product-card
            max-width: 280px

.single_product-tabs
    padding-bottom: 0
    margin-bottom: 30px

    &_container 
        .tabs
            display: grid
            grid-template-columns: 40% 58%

        .tabs_navigation
            padding: 0 15px
            max-width: 500px
            justify-content: start

            li
                width: 50%

            a
                padding: 0 20px 20px 20px

                &:hover, &.active
                    background: linear-gradient(320deg, $main-gradient 0%, $main-gradient 100%) 0 100%/100% 3px no-repeat

        .tabgroup
            height: 100%
            overflow: visible

            &_button.load-more
                margin-bottom: 0

                button
                    width: 142px
                    height: 44px
                    font-size: $font-size-middle
                    font-weight: $font-weight-semi-bold


.share-product-icons
    display: flex
    justify-content: flex-end

    .item
        display: flex
        align-items: center
        justify-content: center
        width: 35px
        height: 30px
        margin-right: 5px
        border-radius: 5px
        text-align: center
        transition: $transition-base

        &:hover
            box-shadow: 0 0 10px 0 rgba(126, 126, 126, .5)

        svg
            fill: $app-white
            width: 35px
            height: 15px

        &.facebook
            background: #3b5998

        &.pinterest
            background: #e60023

        &.twitter
            background: #1da1f2

        &.linkedin
            background: #0073b1

        &.embed
            background: #3f3f3f

            svg
                width: 20px


@media only screen and (max-width: 768px)
    .single_product-tabs
        .tabs_navigation
            flex-direction: row
            order: 2
            padding-top: 20px

        &_container
            .tabs
                grid-template-columns: 100%

    .single_product
        &-card,
        &-tabs
            box-shadow: none

        &-section
            grid-template-columns: 1fr
            padding:  15px 0

        &-carousel
            .carousel-title
                h4
                    max-width: 80%

                a
                    display: none

    .share-product-icons
        justify-content: center


