.container
    .single_product-card
        .single_product-section
            include gallery/gallery.component.pug
            include description/description.component.pug
        .single_product-section
            include rating/rating.component.pug
            //include pricing/pricing.component.pug

    //.single_product-video
        include video/video.component.pug

    section.single_product-tabs
        .tabs_container.single_product-tabs_container
            .tabs
                ul.tabs_navigation(data-tabgroup='first-tab-group')
                    li
                        a.active(href='#tab1') Overview
                    li
                        a(href='#tab2') Reviews
                    li
                        a(href='#tab3') Tech specs

                .share-product-icons
                    a.item.facebook(href='#')
                        svg.icon
                            use(xlink:href="#share_facebook")
                    a.item.pinterest(href='#')
                        svg.icon
                            use(xlink:href="#share_pinterest")
                    a.item.twitter(href='#')
                        svg.icon
                            use(xlink:href="#share_twitter")
                    a.item.linkedin(href='#')
                        svg.icon
                            use(xlink:href="#share_linkedin")
                    a.item.embed(href='#')
                        svg.icon
                            use(xlink:href="#share_embed")


            .tabgroup.single-product_tabgroup#first-tab-group
                .tabgroup_content#tab1
                    include overview/overview-wearbuds/overview-wearbuds.component.pug

                .tabgroup_content#tab2
                    include reviews/reviews.component.pug
                    .tabgroup_button.load-more
                        button.load-more_button.green Load more

                .tabgroup_content#tab3
                    include tech-specs/tech-specs.component.pug




    .single_product-carousel
        .carousel-title
            h4 Customers who bought this item also bought
            a(href="#") See all
        .product-carousel.owl-carousel.owl-theme
            - for (var x = 0; x < 8; x++)
                include ../shared/product-card/product-card.component.pug

    .single_product-carousel
        .carousel-title
            h4 People from Kiev also buy
            a(href="#") See all
        .product-carousel.owl-carousel.owl-theme
            - for (var x = 0; x < 8; x++)
                include ../shared/product-card/product-card.component.pug

    section.section
        .section-title
            h2 Collections
        .section-content
            .collections_grid
                - for (var x = 0; x < 3; x++)
                    include ../shared/collection-card/collection-card.component.pug
            .load-more
                button.load-more_button.green Load more
