.button
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    color: $app-white
    width: 200px
    height: 56px
    transition: $app-base-transition
    border-radius: $border-radius-default

    &:active, &:focus
        outline: none

    &_primary
        background: $vivid-raspberry
        border: 1px solid $vivid-raspberry

        &:hover
            background: $vivid-raspberry
            color: $app-white
