.dialog
    &_container
        width: 480px
        padding: 40px
        margin: 0 auto
        background: $app-white

    &_title
        margin-bottom: 1em

        h3
            font-weight: $font-weight-semi-bold
            font-size: $font-size-large
            color: $app-black
            text-transform: none

    &_content

        p

            &:first-child
                font-size: $font-size-regular
                color: $vivid-raspberry

            &:last-child
                font-size: $font-size-middle
                color: $app-black

    &_buttons
        margin-top: 1em


.form-centered
    width: 100%

    .form-control-row
        width: 100%
        margin-bottom: ($app-spacing-minor * 2)
