.form 
    &_section
        display: flex
        align-items: center
        justify-content: center
        height: 100%
        padding: ($app-spacing-default * 2) 0

    &_container
        width: 500px
        padding: 40px
        box-shadow: 0 1px 4px 0 rgba(0,0,0,0.18)


        &-title
            &.regular
                text-align: center

                h4
                    font-size: $font-size-large
                    font-weight: $font-weight-semi-bold

                p
                    font-size: $font-size-medium

            &.login
                p
                    &:first-child
                        font-size: 26px
                        font-weight: $font-weight-light
                        color: #363434
                        margin-bottom: 0

                    &:last-child
                        font-size: 26px
                        font-weight: $font-weight-semi-bold
                        color: #363434


        &-icon
            display: block
            width: 143px
            margin: 0 auto

    &_control-row
        margin-top: 1em

        .social-authorization
            img
                max-width: 60%
                text-align: center
                margin: 0 auto
                display: block

        &.center
            text-align: center

            p
                margin: 0 auto

            a
                font-size: $font-size-middle
                color: #0098FF

        &.link
            text-align: center
            a
                font-size: $font-size-medium
                color: #0098FF

.button_sign-up
    background: $app-white
    border: 2px solid $vivid-raspberry
    border-radius: 5px
    color: $vivid-raspberry
    cursor: pointer
    width: 136px
    height: 44px
    display: flex
    justify-content: center
    align-items: center
    margin: 0 auto

    &:hover
        color: $vivid-raspberry

.form-description-text
    font-size: $font-size-medium
    color: $app-black
    text-align: center
    max-width: 70%
    margin: 0 auto

    &.terms
        margin-top: 1em

    &.bottom
        font-size: $font-size-middle

    &.email
        color: $app-secondary-green
        font-weight: $font-weight-semi-bold
