@import "vars"

@media (max-width: 991.98px)
    .products_grid
        grid-template-columns: repeat(3, auto)


@media only screen and (max-width: 768px)

    .section-features
        display: none

    .products_grid
        grid-template-columns: repeat(2, 48%)

    &.collections_grid
        grid-template-columns: repeat(1, auto)
        justify-content: unset

