@import "vars"
@import "fonts"
@import "libs"
@import "../../../node_modules/owl.carousel/dist/assets/owl.carousel.min.css"
@import "../../../node_modules/owl.carousel/dist/assets/owl.theme.default.min.css"
@import "../../../node_modules/bootstrap/dist/css/bootstrap.min.css"
@import "../../../node_modules/magnific-popup/dist/magnific-popup.css"
@import "../../../node_modules/animate.css/animate.min.css"
@import "../../assets/vendor/ubislider/src/css/ubislider.min.css"

@import "../../templates/components/footer/footer.component"
@import "../../templates/components/navigation/navigation.component"
@import "../../templates/components/shared/search-input/search-input.component"
@import "../../templates/components/shared/product-card/product-card.component"
@import "../../templates/components/shared/collection-card/collection-card.component"
@import "../../templates/components/slider/slider.component"
@import "../../templates/components/tabs/tabs.component"
@import "../../templates/components/shared/section-carousel/section-carousel"
@import "../../templates/components/shared/section-fearures/section-features"
@import "../../templates/components/shared/section-cta/section-cta"
@import "../../templates/components/shared/section-content/section-content"
@import "../../templates/components/shared/section-subscription/section-subscription.component"
@import "../../templates/components/shared/category-header/category-header.component"
@import "../../templates/components/single-product/single-product.component"
@import "../../templates/components/single-product/gallery/gallery.component"
@import "../../templates/components/single-product/description/description.component"
@import "../../templates/components/single-product/pricing/pricing.component"
@import "../../templates/components/single-product/rating/rating.component"
@import "../../templates/components/single-product/video/video.component"
@import "../../templates/components/single-product/reviews/reviews.component"
@import "../../templates/components/single-product/tech-specs/tech-specs.component"
@import "../../templates/components/single-product/overview/overview.component"
@import "../../templates/components/single-product/overview/overview-wearbuds/overview-wearbuds.component"
@import "../../templates/components/single-product/overview/overview-aibo/overview-aibo.component"
@import "../../templates/components/single-product/overview/overview-fold/overview-fold.component"

@import "../../templates/components/user-profile/user-profile.component"


@import "../../templates/components/shared/mobile-navigation/mobile-navigation.component"



body, html
  font-family: $font-family-default
  font-size: $font-size-regular
  transition: all 0.2s ease
  height: 100%

.form-page
    height: unset

.svg-sprite
    display: none

.overflow
    overflow: hidden

section
    padding: 20px 0

    &.section-tabs
        padding-bottom: 0

    &.section-features
        padding-top: 0

    &.section-cta
        padding: 70px 0
        background: $midnight-blue

    .section-title
        h2
            font-size: $font-size-extra-large
            font-family: $font-geometria
            font-weight: $font-weight-bold
            color: $app-black
            letter-spacing: 0.2px
            text-align: center
            text-transform: uppercase
            line-height: 1
            margin-bottom: 40px

    &.section_product
        padding-top: 0

.products_grid
    display: grid
    grid-gap: 13px
    grid-template-columns: repeat(4, 275px)

.collections_grid
    display: grid
    grid-template-columns: repeat(3, auto)
    justify-content: center
    grid-gap: 25px

.container
    width: 1200px
    margin: 0 auto
    padding: 0
    position: relative
    box-sizing: border-box

    &_narrow
        max-width: 960px
        margin: 0 auto

    @media (min-width: 1200px)
        max-width: 1200px

    @media (max-width: 1199.98px)
        width: 100%


    //@media (max-width: 575.98px)
    //    width: 300px


//// Extra small devices (portrait phones, less than 576px)
//@media (max-width: 575.98px)
//
//// Small devices (landscape phones, less than 768px)
//@media (max-width: 767.98px)
//
//// Medium devices (tablets, less than 992px)
//@media (max-width: 991.98px)
//
//// Large devices (desktops, less than 1200px)
//@media (max-width: 1199.98px)

.load-more
    text-align: center
    margin: 15px 0

    &_button
        text-transform: uppercase
        font-size: $font-size-regular
        transition: all 0.2s ease
        display: flex
        justify-content: center
        align-items: center
        margin: 0 auto

        &.green
            @include button-bg((linear-gradient(90deg, $vivid-raspberry 0%, $vivid-raspberry 100%), $vivid-raspberry), 200px)
            height: 65px
            font-size: $font-size-regular

            &:hover
                @include button-bg(linear-gradient(-90deg, $vivid-raspberry 5%, $vivid-raspberry 95%), 200px)
                height: 65px
                font-size: $font-size-regular
                box-shadow: 1px 2px 20px 0 rgba(0, 0, 0, 0.3)
                color: $app-white!important

        &.gray
            @include button-bg(linear-gradient(-90deg, #C1C1C1 5%, #A3A3A3 95%), 200px)
            height: 65px
            font-size: $font-size-regular

            &:hover
                @include button-bg(linear-gradient(-90deg, $vivid-raspberry 5%, $vivid-raspberry 95%), 200px)
                height: 65px
                font-size: $font-size-regular
                box-shadow: 1px 2px 20px 0 rgba(0, 0, 0, 0.3)
                color: $app-white!important


img
    width: 100%

h3
    text-transform: uppercase

a
    &:hover, &:active
        text-decoration: none

// Lang-switcher
select
    visibility: hidden

.select-hidden
    display: none
    visibility: hidden
    padding-right: 10px

.select
    cursor: pointer
    display: inline-block
    position: relative
    font-size: $font-size-medium
    color: $app-black
    width: 90px
    margin-left: $app-spacing-default
    height: $app-button-height
    border: 1px solid $app-black

    &.nav-switcher
        border: none
        margin-left: 0
        .select-styled
            background: transparent
            color: $app-white
            right: 5px
            text-transform: capitalize

            &:after
                border-color: transparent transparent $vivid-raspberry $vivid-raspberry

            &:active, &.active
                &:after
                    border-color: $vivid-raspberry $vivid-raspberry transparent transparent

.select-styled
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    background-color: $app-white
    padding: 8px 15px
    transition: $app-base-transition

    &:after
        content: ""
        position: absolute
        top: 13px
        right: 13px
        display: inline-block
        border-width: 2px
        border-style: solid
        border-color: transparent transparent $app-black $app-black
        width: 10px
        height: 10px
        transform: rotate(-45deg)

    &:hover
        background-color: $app-white

    &:active, &.active
        background-color: $app-white

        &:after
            top: $app-spacing-default
            border-color: $app-black $app-black transparent transparent

.select-options
    display: none
    position: absolute
    top: 100%
    right: 0
    left: 0
    z-index: 999
    margin: 0
    padding: 0
    list-style: none
    background-color: $app-white
    box-shadow: 0 0 4px 0 rgba(166,166,166,0.50)

    li
        margin: 0
        padding: 12px 0
        text-align: center
        border-top: 1px solid darken($app-white, 10)
        transition: $app-base-transition

        &:hover
            color: $app-black
            background: rgba(177, 177, 177, 0.2)

        &[rel="hide"]
            display: none


.input
    position: relative
    z-index: 1
    display: inline-block
    width: 100%
    font-size: $font-size-middle
    vertical-align: top
    caret-color: $vivid-raspberry

    input[type=email]
        width: 100%

    &.disabled
        input[type=text]:disabled
            background: #F5F5F5
            color: #8C8C8C
            z-index: 1

        .input__label
            background: #F5F5F5

            &:before, &:after
                border-color: #F5F5F5

            .input__label-content
                z-index: 1
                color: #8C8C8C

    &__field
        position: relative
        display: block
        float: right
        border: none
        border-radius: 0
        font-weight: $font-weight-regular
        -webkit-appearance: none /* for box shadows to show on iOS */

        //margin-top: 1em
        padding: 20px 15px 10px 15px
        width: 100%
        background: transparent
        color: #595F6E

        &:focus
            outline: none

    &__label
        display: inline-block
        float: right
        color: #6a7989
        font-size: $font-size-small
        user-select: none
        position: absolute
        bottom: 0
        left: 0
        width: 100%
        height: 56px
        text-align: left
        pointer-events: none
        overflow: hidden
        margin-bottom: 0

        &:before, &:after
            content: ''
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 56px
            border: 1px solid #E6E6E6
            border-bottom-width: 2px
            border-bottom-color: #B6B6B6

        &:after
            margin-top: 2px
            border-color: transparent
            transform: translate3d(-100%, 0, 0)
            transition: transform 0.3s
            top: -2px
            border-bottom-width: 2px
            border-bottom-color: $vivid-raspberry

        &-content
            position: relative
            display: block
            padding: 20px 15px
            width: 100%

    &__label-helper
        padding: 20px 0 0 15px
    &.textarea
        textarea
            resize: none
            height: 197px

        .input__label
            height: 197px

            &:before, &:after
                height: 197px

input[data-state="not-empty"] + .input__label::after,
textarea[data-state="not-empty"] + .input__label::after,
.input__field:focus + .input__label::after,
.input--filled .input__label::after
    transform: translate3d(0, 0, 0)

input[data-state="not-empty"] + .input__label .input__label-content,
textarea[data-state="not-empty"] + .input__label .input__label-content,
.input__field:focus + .input__label .input__label-content,
.input--filled .input__label-content
    color: $vivid-raspberry
    animation: anim-1 0.3s forwards

@keyframes anim-1
    50%
        opacity: 0
        transform: translate3d(1em, 0, 0)

    51%
        opacity: 0
        transform: translate3d(-1em, -40%, 0)

    100%
        opacity: 1
        transform: translate3d(0, -20%, 0)


@import "dialog"
@import "forms"
@import "buttons"
@import "media"



.checkbox
    input[type="checkbox"]
        display: none

    input[type="checkbox"] + label::after
        content: none

    input[type="checkbox"]:checked + label::after
        content: ""

.checkbox
    label
        position: relative
        display: inline-block
        padding-left: 22px
        font-size: $font-size-middle
        color: $app-black
        cursor: pointer
        margin-bottom: 0

        &:before, &:after
            position: absolute
            content: ""
            display: inline-block
            color: #979797

        &:before
            height: 16px
            width: 16px
            border: 1px solid
            left: 0
            top: 3px

        &:after
            height: 5px
            width: 9px
            border-left: 2px solid
            border-bottom: 2px solid
            transform: rotate(-45deg)
            left: 4px
            top: 7px



// 404 page
.error-section
    display: flex
    flex-direction: column
    align-items: center
    padding-top: 40px

    .item__icon
        height: 260px

    &_message
        text-align: center
        color: #88888D

// About Page
.about-header
    display: flex
    align-items: center
    justify-content: center
    position: relative
    height: 360px

    &:after
        content: ''
        position: absolute
        top: 0
        width: 100%
        height: 100%
        display: block
        background: linear-gradient(139.5deg, #503397 0.13%, #702B90 16.05%, #BC177E 56.65%, #ED0B73 85.63%, #FF066F 100%)
        mix-blend-mode: multiply


    &_logo
        position: absolute
        text-align: center
        z-index: 1

        .icon
            height: 100px
            width: 100px
            margin-bottom: $app-spacing-default

        h1
            font-family: geometria-bold
            color: $app-white
            font-size: $font-size-extra-large
            font-weight: $font-weight-bold

.about-subtitle
    text-align: center
    font-size: $font-size-large
    font-weight: $font-weight-bold
    margin: ($app-spacing-default * 3) 0

.about-grid-footer
    text-align: center
    margin: ($app-spacing-default * 3) 0
    font-weight: $font-weight-semi-bold

.about-items_grid
    justify-content: unset

    .item
        display: flex
        flex-direction: column
        align-items: center
        text-align: center
        font-size: $font-size-middle
        position: relative

        &_link
            display: flex
            flex-direction: column
            justify-content: space-evenly
            align-items: center
            text-align: center
            width: 100%
            height: 100%
            color: #212529
            font-weight: $font-weight-semi-bold
            font-size: $font-size-medium

            .icon
                width: 130px
                margin-bottom: $app-spacing-default

.about-cta
    padding: 40px 0!important

    &_block
        display: flex
        justify-content: space-between
        padding: 0 24px
        color: $app-white

        &.black
            color: $app-black
            margin-top: $app-spacing-default * 2

            .about-cta_title
                width: 20%

            .about-cta_description
                width: 80%

    &_title
        display: flex
        justify-content: space-evenly
        width: 40%

        h2
            font-weight: 700
            font-size: 30px

    &_description
        width: 60%

    &_dash
        display: block
        margin-top: 5px
        height: 4px
        width: 50px
        background: $app-white

        &.black
            background: $app-black
            
.team-members

    &_grid
        display: grid
        grid-template-columns: repeat(3, 32%)
        justify-content: center
        grid-gap: 25px

    &_card
        display: flex
        flex-direction: column
        align-items: center
        padding: 48px 24px 24px
        max-width: 380px
        box-shadow: 0 0 4px 0 rgba(0,0,0,.15)

        img
            width: 150px

    &_name
        margin: 16px 0 0
        font-weight: $font-weight-bold

    &_position, &_location
        font-size: $font-size-medium
        color: #8CA0B3

    &_subtitle
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        margin: 16px 0

.center
    text-align: center
    margin: 1rem 0 0

.box
    form
        display: flex
        justify-content: center

    input[type=email]
        padding: 13.5px
        caret-color: $vivid-raspberry
        font-size: $font-size-middle
        font-weight: $font-weight-semi-bold
        border: 1px solid #ccc
        border-right: none
        border-top-left-radius: $border-radius-default
        border-bottom-left-radius: $border-radius-default
        border-top-right-radius: 0
        border-bottom-right-radius: 0

        &:focus
            outline: 0
            border-color: $vivid-raspberry
            border-right: 1px solid $vivid-raspberry!important

    button
        background: $vivid-raspberry
        line-height: 42px
        font-size: $font-size-middle
        font-weight: $font-weight-semi-bold
        color: $app-white
        text-align: center
        text-decoration: none
        border: none
        text-transform: uppercase
        cursor: pointer
        border: 0
        border-top-right-radius: $border-radius-default
        border-bottom-right-radius: $border-radius-default
        border-bottom-left-radius: 0
        border-top-left-radius: 0
        height: 50px


@media (max-width: 768px)
    .section
        padding: 20px 10px

    section.section-tabs
        padding:  0 10px 20px 10px

    .about-cta
        &_block
            flex-direction: column
            &.black
                .about-cta_description
                    width: 100%

        &_title
            flex-direction: column
            width: 100%

        &_description
            width: 100%

        &_dash
            margin: 15px 0

    .about-header
        height: 260px

    .about-items
        &_grid
            grid-template-columns: repeat(2,auto)

            .item_link
                .icon
                    width: 60px
                    height: 70px
                span
                    font-size: $font-size-middle

    .team-members
        &_grid
            grid-template-columns: repeat(1,100%)

