@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

*
	box-sizing: border-box

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green
	ul, li
		list-style: none

h1, h2, h3, h4, h5, h6
	color: $dark
	font-weight: bold
	font-size: 14px
	text-transform: uppercase
	letter-spacing: 4px


.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

// Header

// Nav

.header
	nav
		.top-line
			width: 100%
			height: 170px
			background-color: $blue
			grid-template-columns: 1fr 2fr 1fr
			line-height: 170px
			justify-content: space-between
			.logo
				margin-right: 550px
		.contacts
			a
				margin-right: 40px
				color: $white
				font-size: 10px
				text-transform: uppercase
				letter-spacing: 4px
			a:hover
				text-decoration: none


main
	margin-top: -170px
	height: 120%
	.header-content
		display: flex
		.header-left
			margin:
				top: 170px
			width: 50%
			text-align: center
			.main-title
				margin:
					top: 80px
					bottom: 80px
			.main-text
				text-align: left
				width: 75%
				margin-left: 80px
				font-size: 14px
				color: $dark
				p
					margin:
						bottom: 25px
	.header-bottom
		width: 100%
		margin-top: -170px
		height: 170px
		justify-content: flex-end
		line-height: 170px
		.buttons
			.youtube-button
				display: block
				text-align: center
				background-color: $white
				width: 170px
				height: 170px
				transition: all .5s ease
				z-index: 999999
				a
					color: $dark
					font-size: 10px
					text-transform: uppercase
					letter-spacing: 4px
				a:hover
					text-decoration: none
					color: $white
					background-color: #cd201f
			.facebook-button
				display: block
				text-align: center
				background-color: $gray
				width: 174px
				height: 170px
				transition: all .5s ease
				a
					padding-left: 5px
					color: $dark
					font-size: 10px
					text-transform: uppercase
					letter-spacing: 4px
				a:hover
					color: $white
					background-color: #3B5998
					text-decoration: none
	.photo
		img
			width: 609px
			padding-right: 64px
	.contacts
		a
			margin-right: 40px
			color: $white
			font-size: 10px
			text-transform: uppercase
			letter-spacing: 4px
		a:hover
			text-decoration: none
// Services

.services
	height: 100%
	background-color: $gray
	.services-title
		h3
			padding:
				top: 60px
				bottom: 60px
			text-align: center
	.services-content
		justify-content: center
		margin-bottom: 170px
		.services-container
			background-color: $blue
			display: flex
			flex-direction: column
			justify-content: center
			width: 800px
			height: 100%
			.services-item
				h6
					text-align: center
					color: $white
					padding:
						top: 60px
						bottom: 60px
			.services-text
				p
					color: $white
					font-size: 14px
					padding:
						left: 60px
						right: 60px
			.services-button
				text-align: center
				margin:
					top: 60px
					bottom: 59px
				a
					background-color: $white
					padding:
						top: 25px
						bottom: 25px
						left: 65px
						right: 65px
					font-size: 10px
					color: $blue
					text-transform: uppercase
					letter-spacing: 4px
				a:hover
					text-decoration: none
		.services-controls
			line-height: 190px
			.prev
				width: 190px
				height: 190px
				font-size: 10px
				text-transform: uppercase
				background-color: $navy
				letter-spacing: 4px
				text-align: center
				a
					color: $white
					padding:
						top: 45px
						left: 45px
						right: 45px
				a:hover
					text-decoration: none
			.next
				width: 190px
				height: 190px
				font-size: 10px
				text-transform: uppercase
				background-color: $white
				letter-spacing: 4px
				text-align: center
				a
					color: $blue
					padding:
						top: 45px
						left: 45px
						right: 45px
				a:hover
					text-decoration: none

// Blog

.blog
	height: 100%
	.blog-container
		.blog-content
			width: 50%
			margin-bottom: 100px
			h3
				text-align: center
				margin:
					top: 60px
					bottom: 60px
			.blog-item
				h6
					text-align: center
					margin-bottom: 40px
			.blog-text
				margin-left: 60px
				width: 80%
				font-size: 14px
				p
					line-height: 28px
			.blog-button
				text-align: center
				margin-top: 60px
				a
					background-color: $navy
					color: $white
					padding:
						top: 25px
						bottom: 25px
						left: 65px
						right: 65px
					font-size: 10px
					text-transform: uppercase
					letter-spacing: 4px
				a:hover
					text-decoration: none
		.blog-photo
			position: relative
			width: 50%
			background-color: $gray
			img
				height: 70%
				width: 100%
		.services-controls
			position: absolute
			display: flex
			top: 50.6%
			right: 0
			line-height: 170px
			.prev
				width: 170px
				height: 170px
				font-size: 10px
				text-transform: uppercase
				background-color: $navy
				letter-spacing: 4px
				text-align: center
				a
					color: $white
					padding:
						top: 45px
						left: 45px
						right: 45px
				a:hover
					text-decoration: none
			.next
				width: 170px
				height: 170px
				font-size: 10px
				text-transform: uppercase
				background-color: $blue
				letter-spacing: 4px
				text-align: center
				a
					color: $white
					padding:
						top: 45px
						left: 45px
						right: 45px
				a:hover
					text-decoration: none
	.form-container
		height: 55%
		width: 50%
		background-color: $navy
		padding:
			top: 60px
			left: 60px
			right: 60px
			bottom: 60px
		.form-button
			text-align: center
		form
			display: flex
			flex-direction: column
		input
			margin-top: 30px
			background-color: $navy
			border: none
			border-bottom: 2px solid $white
			margin-bottom: 10px
			padding-bottom: 20px
		input::placeholder
			color: $white
			font-size: 10px
			text-transform: uppercase
			letter-spacing: 4px
		input:active
			color: $white
			font-size: 10px
			text-transform: uppercase
			letter-spacing: 4px
		input:focus
			color: $white
			font-size: 10px
			text-transform: uppercase
			letter-spacing: 4px
		button
			margin-top: 60px
			cursor: pointer
			background-color: $white
			color: $navy
			padding:
				top: 25px
				bottom: 25px
				left: 65px
				right: 65px
			font-size: 10px
			text-transform: uppercase
			letter-spacing: 4px
			text-align: center

.contacts-content
	background-color: $gray
	position: relative
	text-align: center
	width: 50%
	margin:
		top: -90px
	h6
		margin:
			bottom: 60px
	p
		font-size: 12px
		color: $dark
		margin-bottom: 60px
	.contacts-tel
		margin-bottom: 60px
		a
			flex-direction: column
			font-size: 12px
			color: $dark
			text-decoration: none

		a:hover
			text-decoration: none
	.contacts-email
		a
			font-size: 12px
			color: $dark
			text-decoration: none
		a:hover
			text-decoration: none

// Categories

.categories
	height: 100%
.categories-container
	display: flex
	justify-content: space-around
	.categories-content
		.categories-title
			text-align: center
			margin:
				top: 40px
				bottom: 40px
		.categories-text
			font-size: 14px
			margin: auto 100px
			p
				width: 60%
		.categories-button
			text-align: center
			margin:
				top: 40px
				bottom: 60px
			a
				color: $white
				background-color: $navy
				font-size: 10px
				letter-spacing: 4px
				text-transform: uppercase
				line-height: 70px
				transition: all .5s ease-out
				padding:
					left: 65px
					right: 65px
					bottom: 25px
					top: 25px
			a:hover
				text-decoration: none
				background-color: $blue

.categories-button-white
	text-align: center
	margin:
		top: 40px
		bottom: 60px
	a
		color: $dark
		background-color: $white
		font-size: 10px
		letter-spacing: 4px
		text-transform: uppercase
		line-height: 70px
		transition: all .5s ease-out
		padding:
			left: 65px
			right: 65px
			bottom: 25px
			top: 25px
	a:hover
		text-decoration: none
		background-color: $gray

// Detail

.detail
	height: 100vh
	margin-bottom: 50px
	.detail-list-container
		background-color: $gray
		h3
			text-align: center
			padding-top: 50px
		.detail-list-content
			.detail-list-items
				display: -webkit-flex
				display: -ms-flex
				display: flex
				justify-content: space-around
				text-align: center
				.detail-list-title, .detail-list-price
					span
						font-size: 14px
	.detail-container
		display: flex
		justify-content: space-between
	.detail-title
		margin:
			top: 40px
			bottom: 40px
		h3
			text-align: center
	.detail-text
		margin: auto 80px
		font-size: 14px
	.detail-image
		img
			max-width: 720px

// Products

.products
	height: 125vh
	.products-container
		display: -webkit-flex
		display: -ms-flex
		display: flex
		justify-content: space-around
		.products-content
			width: 100vw
			.products-title
				text-align: center
				margin:
					top: 40px
					bottom: 40px
			.products-text
				font-size: 14px
				margin: auto 100px
			.products-button
				text-align: center
				margin:
					top: 40px
					bottom: 60px
				a
					color: $white
					background-color: $navy
					font-size: 10px
					letter-spacing: 4px
					text-transform: uppercase
					line-height: 70px
					transition: all .5s ease-out
					padding:
						left: 65px
						right: 65px
						bottom: 25px
						top: 25px
				a:hover
					text-decoration: none
					background-color: $blue

// Footer

.footer
	height: 100%
	.top-line
		line-height: 170px
		height: 170px
	.logo
		width: 50%
		background-color: $blue
		img
			margin-left: 30%
	.footer-buttons
		.youtube-button
			display: block
			text-align: center
			background-color: $white
			width: 180px
			height: 170px
			transition: all .5s ease
			a
				color: $dark
				font-size: 10px
				text-transform: uppercase
				letter-spacing: 4px
			a:hover
				color: $white
				background-color: #cd201f
				text-decoration: none
		.facebook-button
			display: block
			text-align: center
			width: 180px
			height: 170px
			background-color: $navy
			transition: all .5s ease
			a
				color: $white
				font-size: 10px
				text-transform: uppercase
				letter-spacing: 4px
			a:hover
				background-color: #3B5998
				text-decoration: none
		.instagram-button
			display: block
			text-align: center
			width: 180px
			height: 170px
			background-color: $blue
			transition: all .5s ease
			a
				color: $white
				font-size: 10px
				text-transform: uppercase
				letter-spacing: 4px
			a:hover
				background-color: #e4405f
				text-decoration: none
		.call-button
			display: block
			text-align: center
			background-color: $white
			width: 180px
			height: 170px
			transition: all .5s ease
			a
				padding-left: 10px
				color: $dark
				font-size: 10px
				text-transform: uppercase
				letter-spacing: 4px
			a:hover
				background-color: $gray
				text-decoration: none


// Burger


.burger
	background-color: $navy
	width: 170px
	//height: 170px
	display: block
	position: relative
	a
		padding-left: 55px
	ul, li
		width: 657px
		padding: 0
		margin: 0
		background-color: $navy
		list-style: none
		text-align: left
		a
			text-decoration: none
			color: $white
			padding-left: 50%

.menu
  display: none

.post
	height: 100%
	.post-container
		margin:
			top: 50px
			bottom: 50px
		display: flex
		.post-content
			width: 50%
			margin-bottom: 100px
			h6
				text-align: center
				margin:
					top: 60px
					bottom: 60px
			.post-description
				margin-left: 60px
				width: 80%
				font-size: 14px
				p
					line-height: 28px
			.post-button
				text-align: center
				margin-top: 60px
				a
					background-color: $navy
					color: $white
					padding:
						top: 25px
						bottom: 25px
						left: 65px
						right: 65px
					font-size: 10px
					text-transform: uppercase
					letter-spacing: 4px
				a:hover
					text-decoration: none
		.post-image
			position: relative
			width: 50%
			img
				height: 100%
				width: 100%

.main-post
	height: 100%


.main-post-container
	display: flex
	margin:
		top: 50px
		bottom: 50px
	.main-post-content
		.main-post-title
			h3
				text-align: center
				margin:
					top: 60px
					bottom: 60px
		.main-post-preview
			width: 70%
			margin: 50px auto
			p
				font-size: 14px
	.main-post-item-image
		img
			width: 500px
			height: 400px
	.mainpost-images
		display: flex
		flex-direction: column
		img
			width: 250px
			height: 200px

.main-post-items
	width: 100%
	.main-post-text
		margin: 50px 200px
		font-size: 14px


.categories-button
	text-align: center
	margin:
		top: 40px
		bottom: 60px
	a
		color: $white
		background-color: $navy
		font-size: 10px
		letter-spacing: 4px
		text-transform: uppercase
		line-height: 70px
		transition: all .5s ease-out
		padding:
			left: 65px
			right: 65px
			bottom: 25px
			top: 25px
	a:hover
		text-decoration: none
		background-color: $blue

// Categories cards

.blue
	background-color: $blue

.gray
	background-color: $gray

.light
	background-color: $light

.navy
	background-color: $navy

.light-text
	color: $white

@import "media"
