.collection-card
    figure.collection-card_figure
        img(src="assets/img/collection_img.png", alt="Product Title")
        figcaption.collection-card_figure-caption
            h2 Travel and Outdoor

            a(href="#") Discovery
                svg.icon
                    use(xlink:href="#long-arrow-right")

