@import "../../../../assets/sass/vars"
@import "../../../../assets/sass/_mixins/app-mixins"


.collection-card
    max-width: 380px
    transition: $transition-base

    &:hover
        box-shadow: 1px 2px 20px 0 rgba(0, 0, 0, 0.3)

    &_figure
        position: relative
        overflow: hidden
        cursor: pointer
        margin: 0
        border-radius: $border-radius-default

        &-caption
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            backface-visibility: hidden
            display: flex
            flex-direction: column
            justify-content: space-between

            padding: 24px
            background-color: rgba(0, 0, 0, 0.2)
            transition: background-color 0.35s

            h2
                color: $app-white
                font-size: $font-size-regular
                font-weight: $font-weight-semi-bold
                text-transform: uppercase
                position: relative
                margin: 0

                &:before
                    content: ''
                    display: block
                    width: 33px
                    height: 4px
                    border-radius: $border-radius-default
                    background-color: $app-white
                    margin-bottom: 15px

            a
                display: flex
                justify-content: space-around
                align-items: center
                height: 40px
                width: 140px
                font-weight: $font-weight-semi-bold
                font-size: $font-size-middle
                color: $app-black
                cursor: pointer
                letter-spacing: .2px
                transition: $app-base-transition
                box-shadow: 0 1px 20px 0 rgba(0, 0, 0, .24)
                border: none
                background-color: $app-white
                text-transform: uppercase

                &:active, &:focus
                    outline: none

                &:hover
                    box-shadow: 1px 2px 20px 0 rgba(0, 0, 0, 0.6)

                svg
                    fill: $app-black
                    width: 16px
                    height: 10px

        img
            position: relative
            display: block
            min-height: 100%
            max-width: 100%
            opacity: 1
            transition: opacity 0.35s

        &:hover
            .collection-card_figure-caption
                background-color: rgba(58, 52, 42, 0)

            img
                opacity: 1


@media only screen and (max-width: 768px)
    .collection-card
        max-width: 100%

        &_figure
            max-height: 250px
