.overview-wearbuds
    &_container
        display: grid
        grid-template-columns: 100%
        padding: 55px 30px 0

    &_container-fullwidth
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        position: relative
        overflow: hidden
        text-align: center
        height: 300px
        background: linear-gradient(156.71deg, #5BADF8 18.12%, #005EB3 80.46%)

        img
            position: absolute
            bottom: -10px
            left: -7%
            width: auto
            height: 290px

    &_container-fullwidth-content
        text-align: center
        z-index: 1

        h5
            font-family: $font-geometria-medium
            font-size: 3vw
            line-height: 3vw
            margin-bottom: 24px
            color: $app-white

        a
            display: flex
            align-items: center
            justify-content: center
            width: 280px
            height: 60px
            margin: 0 auto
            background: $app-white
            border-radius: 5px

            &:hover
                color: #309ef2

    &_header
        text-align: center

        h5
            font-family: $font-geometria-medium
            font-size: 3vw
            max-width: 900px
            margin: 56px auto

    &_top-grid
        display: grid
        grid-template-columns: repeat(2, auto)
        justify-content: center
        grid-gap: 25px


    &_top-card-figure
        position: relative
        overflow: hidden
        cursor: pointer
        margin: 0
        border-radius: ($border-radius-default * 2)

    &_bottom-grid
        display: grid
        grid-template-columns: repeat(3, 300px)
        justify-content: center
        grid-gap: 40px

    &_bottom-card
        display: flex
        align-items: center
        height: 300px
        border-radius: 6px

        &:nth-child(1)
            background-image: radial-gradient(152.00px at 50% 50%, #FFA39C 0%, #D63C30 100%)

        &:nth-child(2)
            background-image: radial-gradient(152.00px at 50% 50%, #A5DED3 0%, #6CAA9E 100%)

        &:nth-child(3)
            background-image: radial-gradient(152.00px at 50% 50%, #FFFFFF 0%, #CBCBCB 100%)

    &_bottom-video-card
        width: 987px
        margin: 48px auto 0
        border-radius: 12px
        overflow: hidden
        position: relative

    &_top-card-figure-caption
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        backface-visibility: hidden
        display: flex
        flex-direction: column
        justify-content: flex-start
        align-content: flex-start

        padding: 142px 42px 42px
        color: $app-white
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))
        transition: background-color 0.35s

        h2
            font-family: $font-geometria-medium
            font-size: 3vw
            line-height: 3vw
            margin-bottom: 24px

        svg
            height: 72px
            width: 70px
            margin-bottom: 70px
            fill: #E0AC01

        p
            margin-bottom: 0

    &_features
        margin: 120px auto
        max-width: 70%
        text-align: center

        h5
            font-family: $font-geometria-medium
            font-size: 3vw
            margin-bottom: 60px

    &_features-list
        counter-reset: number
        list-style-type: none
        padding-left: 90px

        li
            position: relative
            text-align: left
            margin-bottom: 60px

            &:last-child
                margin-bottom: 0

            &:after
                content: counter(number) "\a0"
                counter-increment: number
                display: flex
                justify-content: center
                align-items: center
                height: 48px
                width: 48px
                border-radius: 50%
                background: #E0AC01
                color: $app-white
                font-family: $font-geometria-bold
                position: absolute
                z-index: -1
                top: 0
                left: -90px
                padding-left: 3px

    &_features-list-item-content
        h6
            font-family: $font-geometria-medium
            font-size: $font-size-large

        p
            font-size: $font-size-medium
            color: #4D4B4B
            opacity: 0.7

.video-play-button
    position: absolute
    z-index: 10
    top: 50%
    left: 50%
    transform: translateX(-50%) translateY(-50%)
    box-sizing: content-box
    display: block
    width: 32px
    height: 44px
    border-radius: 50%
    padding: 18px 20px 18px 28px


.video-play-button
    &:before
        content: ""
        position: absolute
        z-index: 0
        left: 50%
        top: 50%
        transform: translateX(-50%) translateY(-50%)
        display: block
        width: 96px
        height: 96px
        background: $app-lighter-blue
        border-radius: 50%
        animation: pulse-border 1500ms ease-out infinite


.video-play-button
    &:after
        content: ""
        position: absolute
        z-index: 1
        left: 50%
        top: 50%
        transform: translateX(-50%) translateY(-50%)
        display: block
        width: 96px
        height: 96px
        background: $app-lighter-blue
        border-radius: 50%
        transition: all 200ms


.video-play-button
    &:hover
        &:after
            background-color: darken($app-lighter-blue, 10%)


.video-play-button img
    position: relative
    z-index: 3
    max-width: 100%
    width: auto
    height: auto


.video-play-button span
    display: block
    position: relative
    z-index: 3
    width: 0
    height: 0
    border-left: 32px solid $app-white
    border-top: 22px solid transparent
    border-bottom: 22px solid transparent


@keyframes pulse-border
    0%
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1)
        opacity: 1

    100%
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5)
        opacity: 0

.video-overlay
    position: absolute
    z-index: -1
    top: 0
    bottom: 0
    left: 0
    right: 0
    background: rgba(0, 0, 0, 0.80)
    opacity: 0
    transition: all ease 500ms


.video-overlay.open
    position: absolute
    z-index: 1000
    opacity: 1


.video-overlay-close
    position: absolute
    z-index: 1000
    top: 15px
    right: 20px
    font-size: 36px
    line-height: 1
    font-weight: 400
    color: #fff
    text-decoration: none
    cursor: pointer
    transition: all 200ms


.video-overlay-close
    color: $app-lighter-blue !important


.video-overlay iframe
    position: absolute
    width: 90%
    height: 90%
    top: 50%
    left: 50%
    transform: translateX(-50%) translateY(-50%)
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.75)


@media only screen and (max-width: 768px)
    .overview-section
        padding: 55px 0

    .overview-wearbuds

        &_container
            padding: 55px 20px 0

        &_header
            text-align: left

            h5
                margin: 40px auto
                font-size: 32px

        &_top-grid
            grid-template-columns: repeat(1, auto)


        &_top-card-figure-caption
            justify-content: flex-end
            padding: 0 24px 24px

            svg
                height: 42px
                width: 40px
                margin-bottom: 40px

            h2
                font-size: 24px
                line-height: 24px

            p
                font-size: 14px

        &_features
            margin: 40px auto
            max-width: 100%

            h5
                margin-bottom: 48px
                font-size: 32px

        &_features-list
            padding-left: 0
            padding-top: 60px

            li
                margin-bottom: 120px

                &:after
                    top: -70px
                    left: 0

        &_features-list-item-content
            p
                font-size: 14px

        &_container-fullwidth
            position: relative
            background: #005eb3

            img
                opacity: .5
                left: -44%

        &_container-fullwidth-content
            padding: 0 24px

            h5
                font-size: 32px
                line-height: 1

        &_bottom-grid
            grid-template-columns: repeat(3, auto)
            grid-gap: 12px

        &_bottom-card
            height: 96px

        &_bottom-video-card
            width: 100%
            margin: 16px auto 0

