.overview-aibo_container
    figure.overview-aibo_head-figure
        figcaption.overview-aibo_head-figure-caption
            img.logo(src='assets/img/aibo_logo.svg' alt='Aibo')
            .overview-aibo_head-figure-caption-content
                h2 Aibo. Unleash wonder.
                p Sony developed a wide range of sensors, cameras and actuators to bring aibo to life. Ultra-compact 1- and 2-axis actuators give aibo's body the freedom to move along a total of 22 axes. While aibo's adaptable behavior is made possible through deep learning AI technology, in the form of inbuilt sensors that can detect and analyze sounds and images. In addition, two OLEDs are utilized for aibo's eyes and allow for diverse, nuanced expressions.

    .overview-aibo_head-grid
        .overview-aibo_head-grid-item
            img(src='assets/img/aibo_grid_1.jpg' alt='Aibo')
            .overview-aibo_head-grid-item-content
                h5 Full of charm
                p Bursting with life and energy, aibo shows its love for its owners through lifelike expressions, movements and gestures in hundreds of adorable patterns. Its body language is expressed through a combination of eye, ear, and tail movements as well as different voice sounds.

        .overview-aibo_head-grid-item
            img(src='assets/img/aibo_grid_2.jpg' alt='Aibo')
            .overview-aibo_head-grid-item-content
                h5 Irresistibly cute
                p Aibo features a cute, roly-poly appearance that makes you want to reach out and pet it, while its sleek design is captivating and brimming with life. Moving around with infectious energy, aibo has an identity that's just waiting to be explored and discovered.

    .overview-aibo_text-block
        h5 No two aibo robots are the same
        p Your approach to raising your aibo shapes its personality, behavior, and knowledge, creating a unique environment for growth. Over time, your aibo will continue to learn and develop as your approach to nurturing gradually shapes its personality. aibo will even learn new tricks through interactions with other aibo robots, experiences with changing seasons, and for different holidays and events.


.overview-aibo_container-fullwidth
    .overview-aibo_container-fullwidth-content
        h5 Aibo is available now!
        a(href="#", target="_blank") Buy it via official

.overview-aibo_container
    .overview-aibo_app-container
        img.phones(src='assets/img/aibo_phones.png' alt='Aibo')
        .overview-aibo_app-content
            .overview-aibo_text-block
                h5 Stay connected with  "My aibo" app
                p Take your aibo experience to the next level with the "My aibo" app1. In addition to accessing system settings and owner information, a handy interface lets you check out your aibo's pictures, play with your aibo, and add "tricks" to its repertoire. The app is packed with fun-filled features-even for people who don't have an aibo of their own.

                .overview-aibo_app-content-links
                    a(href="#", target="_blank")
                        img(src='assets/img/aibo_apple.svg' alt='App Store')
                    a(href="#", target="_blank")
                        img(src='assets/img/aibo_google.svg' alt='Google Play')


.overview-aibo_container-fullwidth-black
    .overview-aibo_text-block
        h5 Accessories that spice up playtime with aibo
        p The aibone and pink ball toys can add variety and excitement while playing with your aibo. aibo enjoys picking up and throwing the aibone or playing catch and kicking the pink ball. Because pink is aibo's favorite color, all of aibo's toys have pink elements in them.


    .overview-aibo_bottom-grid
        img(src='assets/img/aibo_bottom-circle_1.jpg' alt='Aibo')
        img(src='assets/img/aibo_bottom-circle_2.jpg' alt='Aibo')


.overview-aibo_container
    .overview-aibo_footer
        .overview-aibo_text-block
            h5 Your aibo can't wait to meet you
            p As aibo learns its environment and develops relationships with people, its identity takes on more and more layers.

            a.overview-aibo_text-block-link(href="#", target="_blank") Buy it via official


