$aibo-red: #E02842
$aibo-padding: 55px
$aibo-border-radius: 6px

.overview-aibo
    &_container
        display: grid
        grid-template-columns: 100%
        padding: $aibo-padding 45px 0

        p
            font-size: 16px
            opacity: .7

    &_head-figure
        position: relative
        overflow: hidden
        border-radius: $aibo-border-radius
        height: 647px
        background-image: url("../../../../../assets/img/aibo_top.jpg")
        background-repeat: no-repeat
        background-size: cover

    &_head-figure-caption
        position: absolute
        top: 0
        padding: $aibo-padding
        height: 100%
        width: 100%

        img.logo
            position: relative
            width: 140px
            height: 60px

    &_head-figure-caption-content
        width: 70%
        position: absolute
        bottom: 0
        left: 0
        padding: $aibo-padding
        color: $app-white

        h2, p
            position: relative
            z-index: 1

        h2
            font-size: 40px
            font-family: $font-geometria-medium

        &:after
            position: absolute
            top: 0
            left: 0
            content: ""
            height: 100%
            width: 100%
            background: $aibo-red
            mix-blend-mode: multiply
            border-top-right-radius: $aibo-border-radius


    &_head-grid
        display: grid
        grid-template-columns: repeat(2, auto)
        grid-gap: 90px
        margin: 120px 0

        img
            border-radius: $aibo-border-radius

    &_head-grid-item
        position: relative

        &:last-child
            padding-top: 100px

    &_head-grid-item-content
        position: relative
        bottom: 50px

        h5
            display: inline-block
            background: $app-white
            padding: 32px 92px 32px 0
            margin: 0
            font-size: 32px
            font-family: $font-geometria-medium


    &_text-block
        max-width: 80%
        margin: 0 auto 120px
        text-align: center

        h5
            font-family: $font-geometria-medium
            font-size: 3vw
            margin-bottom: 24px
            text-transform: capitalize

        p
            opacity: 0.7

    &_container-fullwidth
        position: relative
        background: #e02842
        mix-blend-mode: multiply
        height: 365px
        background-image: url("../../../../../assets/img/aibo_cta.jpg")
        background-repeat: no-repeat
        background-size: cover

        &:after
            content: ""
            position: absolute
            top: 0
            width: 100%
            height: 100%
            background: $aibo-red
            mix-blend-mode: multiply

    &_container-fullwidth-content
        position: absolute
        top: 0
        width: 100%
        height: 100%
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        color: $app-white
        z-index: 2


        h5
            font-family: $font-geometria-medium
            font-size: 3vw
            line-height: 3vw
            margin-bottom: 30px


        a
            display: flex
            align-items: center
            justify-content: center
            width: 280px
            height: 60px
            margin: 0 auto
            background: $app-white
            color: $aibo-red
            border-radius: 5px

            &:hover
                color: $aibo-red


    &_app-container
        display: grid
        grid-template-columns: repeat(2, auto)
        grid-gap: 90px
        padding-bottom: 55px


    &_app-content
        display: flex
        flex-direction: column
        justify-content: space-evenly

        .overview-aibo_text-block
            margin: 0
            max-width: 95%
            text-align: left

    &_app-content-links
        display: flex

        a
            width: 160px

            &:first-child
                margin-right: 24px

    &_container-fullwidth-black
        background: $app-black
        padding: 100px 0
        color: $app-white

        .overview-aibo_text-block
            max-width: 85%
            margin: 0 auto 60px


    &_bottom-grid
        display: grid
        grid-template-columns: repeat(2, 270px)
        justify-content: center
        grid-gap: 80px

        img
            max-width: 270px
            border-radius: 50%


    &_text-block-link
        display: flex
        align-items: center
        justify-content: center
        width: 280px
        height: 60px
        margin: 30px auto 0
        background: $aibo-red
        color: $app-white
        border-radius: 5px

        &:hover
            color: $app-white

    &_footer
        padding-top: 65px

        .overview-aibo_text-block
            max-width: 65%
            margin: 0 auto 84px
            text-align: center


@media only screen and (max-width: 768px)
    .overview-aibo

        &_container
            padding: 55px 20px 0

        &_head-figure
            height: 500px
            
        &_head-figure-caption
            padding: 20px
            height: 100%
            width: 100%

            .logo
                width: 90px
                height: 40px
                z-index: 1

        &_head-figure-caption-content
            width: 100%
            height: 100%
            padding: 20px
            display: flex
            flex-direction: column
            justify-content: flex-end

            h2
                font-size: 32px

            p
                font-size: 14px

        &_head-grid
            grid-template-columns: repeat(1, auto)
            grid-gap: 0
            margin: 80px 0 0


        &_head-grid-item
            &:last-child
                padding-top: 0

        &_head-grid-item-content
            h5
                font-size: 24px
                padding:  21px 32px 21px 0

            p
                font-size: 14px

        &_text-block
            max-width: 100%
            margin: 0 auto 80px
            text-align: left

            h5
                font-family: $font-geometria-medium
                font-size: 32px
                margin-bottom: 24px
                text-transform: capitalize

            p
                font-size: 14px
                opacity: 0.7

        &_container-fullwidth
            background-position-x: 50%

        &_container-fullwidth-content
            h5
                font-size: 32px

        &_app-container
            grid-template-columns: repeat(1, auto)

            .overview-aibo_text-block
                text-align: center

            .phones
                display: none

        &_app-content-links
            justify-content: center

            a:first-child
                margin-right: 10px


        &_container-fullwidth-black
            padding: 40px 30px

            .overview-aibo_text-block
                max-width: 100%
                text-align: center
                margin: 0 auto 40px

        &_bottom-grid
            grid-template-columns: repeat(2, 140px)
            grid-gap: 20px

        &_footer
            .overview-aibo_text-block
                max-width: 100%

