.section-container.section-content
    .container.container_narrow
        h3 Home for Smart Products
        p
            | Find necessary hi-tech product easy and comfortable. Surf through the platform, сheck and buy the best
            | smart products with a few clicks. We store best ideas for new services, smart electronic devices,
            | wearable gadgets, and other products. 4Prototypes focuses on home automation products, smart house
            | systems, security devices, wireless bluetooth controller devices, and more.
        h3 Smart People Love Smart Devices
        p
            | 4Prototypes is not just home for the best smart devices and best smart products. 4Prototypes is also a
            | hub for people who like cool smart devices. We nest together, and we grow together. Wanna buy a smart
            | device, but have some doubts? Have a need for a brand new wifi system? Or maybe you’re looking for a
            | new virtual assistant which blows Alexa and Siri out of the water? We’ve got the long list of awesome
            | things, so you will find exactly what you need. There is always the best option of a smart device for
            | you!
        h3 Get an Instant Feedback on Your Smart Products from Community
        p
            | Build new connections and stay connected with a community of passionate users. Share your thoughts on a
            | new technology, get quick feedback from the community. Decide on purchase depending on rankings and
            | comments from real tech geeks. We believe that ratings from passionate experts in smart products and
            | smart devices will bring valuable transparency into our service. No need to believe marketing tricks
            | and buzzwords. Only truth. From those you can trust.
        h3 Easy and Smart Navigation
        p
            | 4Prototypes is made for effortless surfing. Find what you like, check similar products, pick the best
            | possible solution. Easily share it with friends in social networks, leave comments and rate a smart
            | product you like! Don’t hesitate to join 4Prototypes community and become a part of a brand new world
            | of a game changing devices. Because we are tomorrow, and so are you. We operate in all countries and
            | cities, from Paris to New York, Los Angeles, Chicago, Houston, San Jose, San Francisco, San Diego

