.content-block_section-item
    h4 Model
    .content-block_section-options
        button.section-options_item
            span.title Start Kit
            span.price $100

        button.section-options_item.active
            span.title Professional Kit
            span.price $150

.content-block_section-item
    h4 Color
    .content-block_section-options
        button.section-options_item
            .color_block
                .select_color
                span.title Space Gray
            span.price +$10

        button.section-options_item.active
            .color_block
                .select_color
                span.title Black
            span.price +$40