section.header-container
    .container
        ul.header-container_breadcrumbs-list
            li.header-container_breadcrumbs-list-item
                a(href="#") Main page

            li.header-container_breadcrumbs-list-item
                a(href="#") Search results

    .header-container_block
        .header-container_title
            h3 You've Searched for: " "

        .search-input.gray_style
            form.search-input__form(autocomplete="off")
                .search-input__autocomplete-list
                    input#autocompleteState(type="text" placeholder="Search for: Action camera, Smart Gadgets")
                    svg.icon
                        use(xlink:href="#icon_search")