.pricing-section-prices_top,
.pricing-section-prices_bottom
    display: grid
    grid-template-columns: 15% 45% 40%
    font-size: $font-size-middle

.pricing-section-prices_top
    grid-template-columns: 10% 90%
    font-family: $font-geometria
    align-items: baseline

.pricing-section-prices_top
    margin-bottom: $app-spacing-default

.pricing-section_top
    &-value
        span
            &:nth-child(2)
                margin-left: 5px

.pricing-section_top-label
    color: #ccc

.pricing-section_top-value
    color: $vivid-raspberry
    font-family: $font-geometria-medium
    font-size: $font-size-large

.pricing-section_bottom
    &-value
        span
            &:nth-child(1),
            &:nth-child(2)
                font-size: $font-size-extra-large
                font-weight: $font-weight-bold
                color: #FF7A47
                letter-spacing: 0.61px
                line-height: 1
                margin-right: 5px

    &-label
        line-height: 1
        
    &-discount
        display: flex
        align-items: center

        span
            color: #E52E04
            line-height: 1

            &:first-child
                background-color: #E52E04
                border-radius: $border-radius-default
                text-align: center
                width: 65px
                height: 30px
                color: $app-white
                display: inline-block
                font-size: $font-size-regular
                line-height: 30px
                letter-spacing: 0.88px
                margin-right: 5px


.pricing-section_actions
    display: flex
    flex-direction: column
    align-items: start
    margin: $app-spacing-default 0

.pricing-section-actions
    &_button
        display: flex
        align-items: center
        justify-content: space-evenly
        width: 340px
        height: 50px
        border: none
        border-radius: 5px
        cursor: pointer
        background: $vivid-raspberry
        color: $app-white
        font-family: $font-geometria-bold
        margin-right: $app-spacing-default

        &:first-child
            margin-bottom: $app-spacing-default

        &.black
            background: $app-black

        &:hover, &:active
            outline: none
    
        .logo
            display: flex
            justify-content: center
            align-items: center
            width: 36px
            height: 36px
            background: $app-white
            border-radius: 50%

            svg
                width: 22px
                height: 22px

        .title
            color: $app-white

    &_tooltip
        .product_actions-action.add.pricing
            .hint-container
                background: $app-lighter-grey
                color: $app-black
                font-weight: $font-weight-semi-bold
                border-radius: 5px
                top: 0
                left: 45px
                &:after
                    content: ""
                    position: absolute
                    left: -18px
                    bottom: 20%
                    border-bottom: 10px solid $app-lighter-grey
                    border-top: 10px solid transparent
                    border-left: 10px solid transparent
                    border-right: 10px solid transparent
                    transform: rotate(-90deg)

@media only screen and (max-width: 768px)
    .pricing-section-prices_top,
    .pricing-section-prices_bottom
        grid-template-columns: 100%
        text-align: center

    .pricing-section-actions
        &_button
            width: 100%
            margin-bottom: 16px
            margin-right: 0
            justify-content: center

            .logo
                margin-right: 16px

    .pricing-section_actions
        flex-direction: column

        &_tooltip
            .product_actions-action.add.pricing
                .hint-container
                    left: unset
                    right: 45px
