.pricing_block
    .pricing-section_prices
        .pricing-section-prices_top
            .pricing-section_top-label
                span Price:
            .pricing-section_top-value
                span $54.11

        //.pricing-section-prices_bottom
        //    .pricing-section_bottom-label
        //        span Discount price:
        //    .pricing-section_bottom-value
        //        span USD
        //        span 140.68
        //        span /piece
        //    .pricing-section_bottom-discount
        //        span -42%
        //        span Your personal discount

    .pricing-section_actions
        button.pricing-section-actions_button.black
            a.title(href="#") Via official
        button.pricing-section-actions_button
            .logo
                svg.icon
                    use(xlink:href="#amazon_logo")
            a.title(href="#") Buy it on Amazon
        //.pricing-section-actions_tooltip
            .product_actions-action.add.pricing
                .hint-container
                    span Add to wishlist
                svg.icon
                    use(xlink:href="#icon_add")




