.tech-specs_table
    .tech-specs_table-section
        .tech-specs_table-row.title
            .tech-specs_table-cell General
        .tech-specs_table-row
            .tech-specs_table-cell Manufacturer
            .tech-specs_table-cell Livestream
        .tech-specs_table-row
            .tech-specs_table-cell Packaged Quality
            .tech-specs_table-cell 1 Mevo Plus Quality
        .tech-specs_table-row
            .tech-specs_table-cell Limited Warranty
            .tech-specs_table-cell 1 year
        .tech-specs_table-row
            .tech-specs_table-cell Mobile Requirements
            .tech-specs_table-cell iOS 9.3

    .tech-specs_table-section
        .tech-specs_table-row.title
            .tech-specs_table-cell Video
        .tech-specs_table-row
            .tech-specs_table-cell Sensor
            .tech-specs_table-cell Sony 4K sensor
        .tech-specs_table-row.title
            .tech-specs_table-cell Built-it microphone
        .tech-specs_table-row
            .tech-specs_table-cell Microphone
            .tech-specs_table-cell Sony 4K sensor

    .tech-specs_table-section
        .tech-specs_table-row.title
            .tech-specs_table-cell Audio
        .tech-specs_table-row
            .tech-specs_table-cell Audio codec
            .tech-specs_table-cell Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s