.tech-specs_table
    display: grid
    margin: 0 auto
    padding: 15px
    font-size: $font-size-middle

    &-row
        display: grid
        grid-template-columns: 50% 50%
        border-right: 1px solid $app-table-border-color
        border-left: 1px solid $app-table-border-color
        border-bottom: 1px solid $app-table-border-color

        &.title
            background: #FBFBFB
            font-size: $font-size-regular

    &-section
        &:first-child
            border-top: 1px solid $app-table-border-color

    &-cell
        padding: .7rem 30px
        display: flex
        align-items: center

        &:not(:last-child)
            border-right: 1px solid $app-table-border-color