.reviews
    .reviews_title
        span.counter 12314
        | &nbsp;
        span.string Reviews

    - for (var x = 0; x < 4; x++)
        .reviews_item
            .reviews_item-user
                .item-user_pic
                    img(src='assets/img/user_level_1.svg')
                    svg.icon
                        use(xlink:href="#switch_avatar")

                .item-user_rank
                    span User Rank
                    span L1

            .reviews_item-info
                .rating_meta-data
                    span.rating_meta-data-username Username
                    span.rating_meta-data-date
                        sapn.data OCT 13, 2017
                        | |
                        span.time 21:30

                .rating_stars
                    svg.icon.active
                        use(xlink:href="#review_rating-star")
                    svg.icon.active
                        use(xlink:href="#review_rating-star")
                    svg.icon.active
                        use(xlink:href="#review_rating-star")
                    svg.icon
                        use(xlink:href="#review_rating-star")
                    svg.icon
                        use(xlink:href="#review_rating-star")

                .rating_comment
                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.

                .rating_likes
                    .rating_likes-count
                        span 123
                        | &nbsp;
                        span Likes it

                    button.rating_like
                        svg.icon
                            use(xlink:href="#icon_like")
                        | Like


