.reviews
    &_title
        display: flex
        padding: 24px 60px

        span
            font-weight: $font-weight-semi-bold
            font-size: $font-size-medium
            text-transform: uppercase

            &.counter
                color: $vivid-raspberry

    &_item
        display: grid
        justify-content: space-between
        grid-template-columns: 10% 85%
        border-top: 1px solid rgba(0,0,0,.1)
        padding: 24px 60px

        &:last-child
            border-top: none
            border-bottom: 1px solid rgba(0,0,0,.1)

        &-user
            .item-user_pic
                position: relative
                margin-bottom: 16px

                svg
                    position: absolute
                    right: 10px
                    bottom: -10px
                    width: 30px
                    height: 30px

            .item-user_rank
                display: flex
                flex-direction: column
                text-align: center

                span
                    font-size: $font-size-middle

                    &:last-child
                        color: $vivid-raspberry
                        font-weight: $font-weight-bold
                

    .rating
        &_meta-data
            display: flex
            flex-direction: column

            &-username
                text-transform: uppercase
                color: $vivid-raspberry
                font-size: $font-size-middle
                font-weight: $font-weight-semi-bold

            &-date
                font-size: $font-size-small
                color: #7D7D7D
                font-weight: $font-weight-semi-bold
                margin: 10px 0

        &_stars
            line-height: 1
            margin-bottom: 10px

            svg
                width: 13px
                height: 13px
                fill: #D0D0D0

                &.active
                    fill: #F49819

        &_comment
            font-size: $font-size-middle

        &_likes
            display: flex
            font-size: $font-size-middle
            
            button
                background: none
                border: none
                display: flex
                align-items: center
                margin-left: $app-spacing-default
                cursor: pointer

                &:active, &:focus
                    outline: none

                svg
                    width: 18px
                    height: 18px
                    margin-right: 5px


