extends ../layouts/master.pug

block title
    title My Page - Blog

block manifestBrowserconfigFiles
    link(rel='manifest', href='../manifest.json')
    meta(name='msapplication-config' content='../browserconfig.xml')

block scripts
    script(src='../config/games.json')

block content

    //- Desktop page
    section.page.blog__page
        h1.page__title # Blog page
        p Thank you for your supporting :)
        p
            a(href="https://www.buymeacoffee.com/edgardo" target="_blank")
                img(src="https://www.buymeacoffee.com/assets/img/custom_images/orange_img.png" alt="Buy Me A Coffee" style="height: auto !important;width: auto !important;")


