.gallery-container
    #imageSlider4.ubislider-image-container.left(data-ubislider='#slider4')
        .gallery-item_caption
            span Mouse over to zoom in
    #slider4.ubislider.left
        ul#gal1.ubislider-inner
            li
                a
                    img.product-v-img(src='assets/img/product_large-1.png')
            li
                a
                    img.product-v-img(src='assets/img/product_large-2.png')
            li
                a
                    img.product-v-img(src='assets/img/product_large-3.png')
            li
                a
                    img.product-v-img(src='assets/img/product_large-4.png')
            li
                a
                    img.product-v-img(src='assets/img/product_large-5.png')
            li
                a
                    img.product-v-img(src='assets/img/product_large-6.png')
            li
                a
                    img.product-v-img(src='assets/img/product_large-1.png')
            li
                a
                    img.product-v-img(src='assets/img/product_large-2.png')
            li
                a
                    img.product-v-img(src='assets/img/product_large-3.png')
            li
                a
                    img.product-v-img(src='assets/img/product_large-4.png')
            li
                a
                    img.product-v-img(src='assets/img/product_large-5.png')
            li
                a
                    img.product-v-img(src='assets/img/product_large-6.png')