.gallery-container
    .ubislider-image-container
        width: 450px
        height: 590px
        margin: 0
        padding: 0
        border: none
        border-radius: 5px

        img
            max-width: 100%
            max-height: 100%

    .ubislider.left
        width: 5pc
        margin: 0
        height: 590px

        .ubislider-inner
            height: 590px!important
            padding-right: 10px
            overflow: scroll
            li
                width: 100%
                height: 70px
                border: none
                padding: 0
                border-radius: 5px

                img
                    max-width: 100%
                    max-height: 100%


@media only screen and (max-width: 768px)
    .zoomContainer
        display: none!important

    .gallery-container
        display: flex
        flex-direction: column
        overflow: hidden

        .ubislider-image-container
            width: 21pc
            height: 21pc
            float: unset
            margin: 0 auto
            z-index: -1

        .ubislider.left
            width: auto
            height: 100%
            overflow: scroll

            .ubislider-inner
                display: flex
                height: auto!important
                width: 768px!important

                li
                    width: 77px
                    margin: 0 3px
