.section-container.carousel-section
    .container
        .section-content
            .thumb-container(style="background-image: url('https://4prototypes.com/media/categories/589223204766/589223204766.png'")
                //img.thumb-container_thumb(src="assets/img/carousel-section_mobile.jpg", title="Smart Home")
            .section-content_description-column
                .description-column-content
                    .description-column-content-top
                        h2 Robots
                        p They're taking over (all the tasks you don't want to do!) They're taking over (all the tasks you don't want to do!) They're taking over (all the tasks you don't want to do!) They're taking over (all the tasks you don't want to do!)
                    a.description-column-content-button(href="#") Discover more
                        svg.icon
                            use(xlink:href="#pixel_arrow")

            .section-content_carousel-container
                .inner_carousel.owl-carousel.owl-theme
                    - for (var x = 0; x < 8; x++)
                        include ../../shared/product-card/product-card.component.pug