.carousel-section
    padding: 30px 0 0 0
    background: $main-gradient

    .section-content
        display: grid
        grid-template-columns: 25% 70%
        justify-content: space-between

    .description-column-content
        height: 398px
        display: flex
        flex-direction: column
        justify-content: space-between
        color: $app-white

        h2
            font-size: $font-size-mega-large
            font-weight: $font-weight-semi-bold
            color: $app-white
            letter-spacing: 0.2px
            text-transform: uppercase
            line-height: 1

        p
            margin: 0

        &-button
            display: flex
            justify-content: space-around
            align-items: center
            height: 65px
            width: 100%
            font-weight: $font-weight-semi-bold
            font-size: $font-size-regular
            color: $app-black
            cursor: pointer
            letter-spacing: .2px
            transition: $app-base-transition
            border: none
            background: $app-white
            box-shadow: 0 1px 20px rgba(0, 0, 0, 0.236781)
            border-radius: $border-radius-default

            &:active, &:focus
                outline: none

            &:hover
                box-shadow: 1px 2px 20px 0 rgba(0, 0, 0, 0.6)

            svg
                fill: $app-black
                width: 10px
                height: 15px


    .thumb-container
        display: none

.carousel-indicators
    li
        width: 10px
        height: 10px
        opacity: 0.2
        border-radius: 50%

//&.active

.owl-carousel
    .owl-dots
        display: none

    .owl-nav
        text-align: right
        margin-top: 30px

        button
            &.owl-prev
                transform: rotate(180deg)
                margin-right: 3px

            &:focus, &:active
                outline: none

        .navigation-button
            display: flex
            justify-content: center
            align-items: center
            width: 62px
            height: 62px
            background: $dark-violet

            svg
                width: 20px
                height: 30px
                fill: $app-white


@media only screen and (max-width: 768px)
    .carousel-section
        padding: 0
        background: none

        .section-content
            position: relative
            overflow: hidden
            grid-template-columns: 100%
            padding: 24px

            .thumb-container
                display: block
                position: absolute
                top: 0
                width: 100%
                height: 100%
                background-repeat: no-repeat
                background-size: cover

                &:after
                    content: ''
                    position: absolute
                    top: 0
                    right: 0
                    width: 100%
                    height: 100%
                    background-image: linear-gradient(0deg,rgba(0,0,0,.26) 0,rgba(0,0,0,.06) 78%)

                &-thumb
                    display: block
                    height: auto

            &_description-column
                position: relative

            &_carousel-container
                display: none

        .description-column-content
            justify-content: flex-end

            h2
                font-family: $font-geometria-bold
                text-transform: none

            p
                font-size: $font-size-medium

            &-button
                margin-top: 24px
                width: 100%
                border-radius: $border-radius-default
                background: $vivid-raspberry
                color: $app-white

                svg
                    fill: $app-white
