.search-input
    form.search-input__form(autocomplete="off")
        .search-input__autocomplete-list
            input#autocompleteInput(type="text" placeholder="Search")
        .search-input__submit
            button(type="submit")
                svg.icon
                        use(xlink:href="#icon_search")
