@import "../../../../assets/sass/vars"
@import "../../../../assets/sass/_mixins/app-mixins"

.search-input
    &__form
        display: flex
        font-size: $font-size-middle

    &__autocomplete-list
        position: relative
        width: 100%

        input
            width: 100%
            padding: 13.5px
            caret-color: $vivid-raspberry
            font-size: $font-size-middle
            font-weight: $font-weight-semi-bold
            border: 1px solid #CCCCCC
            border-right: none
            border-top-left-radius: $border-radius-default
            border-bottom-left-radius: $border-radius-default
            border-top-right-radius: 0
            border-bottom-right-radius: 0

            &::placeholder
                color: #737373
                letter-spacing: 0.78px
                font-weight: $font-weight-regular

            &:focus
                outline: none
                border-color: $vivid-raspberry
                border-right: 1px solid $vivid-raspberry!important

        &-items
            position: absolute
            top: 95%
            left: 6px
            right: 0
            width: 97%
            z-index: 99
            box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.20), 0 2px 4px 0 rgba(0, 0, 0, 0.25)

        &-item
            padding: 10px
            cursor: pointer
            background-color: $app-white

            strong
                background: #E6F1FF

            &:hover
                background-color: #e9e9e9

            &.active
                background-color: #e9e9e9

    &__submit
        button
            @include button-bg($vivid-raspberry, 52px)
            border: 0
            border-top-right-radius: $border-radius-default
            border-bottom-right-radius: $border-radius-default
            border-bottom-left-radius: 0
            border-top-left-radius: 0
            height: 50px

            &:focus, &:hover
                outline: none

        svg
            width: 22px
            height: 23px
            fill: $app-white


    &.gray_style
        .search-input__autocomplete-list
            input
                border-radius: $border-radius-default
                border: none
                padding: 18px 13.5px
                
            svg
                width: 15px
                height: 15px
                margin: auto
                position: absolute
                top: 0
                bottom: 0
                right: 13.5px
                fill: #CED0DA
