//- src/views/components/footer.component.pug

footer.footer
    .container
        .footer-main_row
            .footer-social-column
                .footer-social-column-title
                    h4 Follow us:
                .footer-social-column-links
                    a(href='#', target='blank')
                        svg.icon
                            use(xlink:href="#icon_instagram")
                    a(href='#', target='blank')
                        svg.icon
                            use(xlink:href="#icon_facebook")
                    a(href='#', target='blank')
                        svg.icon
                            use(xlink:href="#icon_twitter")
                    a(href='#', target='blank')
                        svg.icon
                            use(xlink:href="#icon_linkedin")
                    a(href='#', target='blank')
                        svg.icon
                            use(xlink:href="#icon_youtube")
            .footer-nvaigation-column
                .footer-navigation-column-links
                    a(href="#") About Us
                    a(href="#") Our Team
                    a(href="#") Our Features
                    a(href="#") Become a Partner
                    a(href="#") Contact Us
                    a(href="#") FAQ
                    a(href="#") News
                    a(href="#") Terms of Use
                    a(href="#") Privacy Policy
                    a(href="#") Cookie Policy

            .footer-info-column
                .footer-info-column-top-row
                    a.footer-primary-button(href="#") Joins Us
                    //select#year
                        option(value="hide") En
                        option(value="RU") Ru
                        option(value="ES") Es

                .footer-info-column-bottom-row
                    a(href="mailto:info@4prototypes.com", title="Mail to info@4prototypes.com") info@4prototypes.com


        .footer-secondary-row
            span Copyright © 2018 4prototypes, Inc.
