@import "../../../assets/sass/_mixins/app-mixins"

.footer
    background: $app-light-blue
    padding: 25px 0

    &-main_row
        display: grid
        grid-template-columns: auto auto auto

    &-social-column-links
        a
            margin-right: 6px

        svg
            width: 43px
            height: 43px
            border-radius: 50%
            transition: $app-base-transition

            &:hover
                box-shadow: $app-box-shadow

    &-navigation-column-links
        display: grid
        grid-template-rows: repeat(4, 1fr)
        grid-template-columns: 1fr 1fr 1fr
        grid-auto-flow: column
        grid-gap: 0 50px

        a
            margin-bottom: 6px
            @include text-link($font-size-medium, $font-weight-semi-bold, $app-black)

    &-primary-button
        @include button-bg($vivid-raspberry, $app-small-button-width)


    &-secondary-row
        span
            font-size: $font-size-small
            font-weight: $font-weight-semi-bold

    &-info-column
        &-top-row
            display: flex

        &-bottom-row
            margin-top: $app-spacing-default / 2
            a
                @include text-link($font-size-middle, $font-weight-semi-bold, $app-black)


@media (max-width: 767.98px)
    .footer
        padding-bottom: 130px
        text-align: center

        &-info-column
            &-top-row
                display: flex
                justify-content: center

        &-main_row
            grid-template-columns: 1fr
            justify-items: center
            grid-gap: 15px
            margin-bottom: $app-spacing-default

        &-social-column
            grid-area: footer-social-column 3

        &-nvaigation-column
            grid-area: footer-nvaigation-column 1
            margin-bottom: $app-spacing-default

        &-info-column
            grid-area: footer-info-column 2
            margin-bottom: $app-spacing-default
            
        &-social-row
            grid-template-columns: 1fr

        &-navigation-column-links
            text-align: center
            grid-template-columns: 1fr
            grid-auto-flow: row

        &-secondary-row
            span
                font-size: $font-size-small
                font-weight: $font-weight-semi-bold
