header.header-navigation
    .top-navigation.dark-nav
        .top-navigation__logo
            a(href="#")
                img.icon(src="assets/img/new-logo.svg")

        .top-navigation__menu
            ul.navbar
                li.navbar__list-item
                    span.navbar__list-item-title Browse
                    ul#navbar-list.navbar__inner-list
                        li.navbar__inner-list-item
                            span.navbar__list-item-title Categories
                            ul.navbar__inner-list
                                li.navbar__inner-list-item
                                    a.navbar__list-item-title(href="#")
                                        span Smart Door Locks
                                li.navbar__inner-list-item
                                    a.navbar__list-item-title(href="#")
                                        span Window and Door Sensors
                                li.navbar__inner-list-item
                                    span.navbar__list-item-title Smart Air Conditioners
                                    ul.navbar__inner-list
                                        li.navbar__inner-list-item
                                            a.navbar__list-item-title(href="#")
                                                span Smart Home Automation Hubs
                                        li.navbar__inner-list-item
                                            a.navbar__list-item-title(href="#")
                                                span Smart Door Locks
                                        li.navbar__inner-list-item
                                            a.navbar__list-item-title(href="#")
                                                span Window and Door Sensors
                                        li.navbar__inner-list-item
                                            a.navbar__list-item-title(href="#")
                                                span Smart Air Conditioners
                                li.navbar__inner-list-item
                                    a.navbar__list-item-title(href="#")
                                        span Home Security Cameras
                                li.navbar__inner-list-item
                                    a.navbar__list-item-title(href="#")
                                        span Smart Light Bulbs
                                li.navbar__inner-list-item
                                    a.navbar__list-item-title(href="#")
                                        span Sleep Gadgets
                                li.navbar__inner-list-item
                                    a.navbar__list-item-title(href="#")
                                        span Smart Door Locks
                                li.navbar__inner-list-item
                                    a.navbar__list-item-title(href="#")
                                        span Window and Door Sensors
                                li.navbar__inner-list-item
                                    span.navbar__list-item-title Smart Air Conditioners
                                    ul.navbar__inner-list
                                        li.navbar__inner-list-item
                                            a.navbar__list-item-title(href="#")
                                                span Smart Home Automation Hubs
                                        li.navbar__inner-list-item
                                            a.navbar__list-item-title(href="#")
                                                span Smart Door Locks
                                        li.navbar__inner-list-item
                                            a.navbar__list-item-title(href="#")
                                                span Window and Door Sensors
                                        li.navbar__inner-list-item
                                            a.navbar__list-item-title(href="#")
                                                span Smart Air Conditioners
                                li.navbar__inner-list-item
                                    a.navbar__list-item-title(href="#")
                                        span Home Security Cameras
                                li.navbar__inner-list-item
                                    a.navbar__list-item-title(href="#")
                                        span Smart Light Bulbs
                                li.navbar__inner-list-item
                                    a.navbar__list-item-title(href="#")
                                        span Sleep Gadgets

                        li.navbar__inner-list-item
                            a.navbar__list-item-title(href="#")
                                span Smart Home

                        li.navbar__inner-list-item
                            a.navbar__list-item-title(href="#")
                                span Smart Home Systems

                        li.navbar__inner-list-item
                            a.navbar__list-item-title(href="#")
                                span Smart Home Systems
                        li.navbar__inner-list-item
                            a.navbar__list-item-title(href="#")
                                span Smart Home

                        li.navbar__inner-list-item
                            a.navbar__list-item-title(href="#")
                                span Smart Home Systems

                        li.navbar__inner-list-item
                            a.navbar__list-item-title(href="#")
                                span Smart Home Systems
                        li.navbar__inner-list-item
                            a.navbar__list-item-title(href="#")
                                span Smart Home

                        li.navbar__inner-list-item
                            a.navbar__list-item-title(href="#")
                                span Smart Home Systems

                        li.navbar__inner-list-item
                            a.navbar__list-item-title(href="#")
                                span Smart Home Systems
                        li.navbar__inner-list-item
                            a.navbar__list-item-title(href="#")
                                span Smart Home Systems

                        li.navbar__inner-list-item
                            a.navbar__list-item-title(href="#")
                                span Smart Home Systems

                li.navbar__list-item
                    a.navbar__list-item-title(href="#")
                        span Smart Home Systems

        .top-navigation__search-input
            include ../../components/shared/search-input/search-input.component.pug
        .top-navigation__links
            a(href="#") How it works?
            a(href="#") About us
            a(href="#") News

        .top-navigation__account.profile
            .top-navigation__account-langswitcher
                select#nav-switcher
                    option(value="hide") En
                    option(value="RU") Ru
                    option(value="ES") Es

            .top-navigation__account-help
                a(href="#") Help

            .top-navigation__account-cart
                a(href='#', target='blank')
                    svg.icon
                        use(xlink:href="#icon_cart")

            .top-navigation__account-notification
                a(href='#', target='blank')
                    svg.icon
                        use(xlink:href="#icon_notification")

            .top-navigation__account-profile.profile
                .profile_container
                    img(src="assets/img/usr.jpg", alt="User Name")
                    ul.profile_container-dropdown.select-options
                        li
                            a(href='/user-profile.html') Profile
                        li
                            a(href='#') Logout

    .bottom-navigation
        .container
            .bottom-navigation__container
                .bottom-navigation__logo
                    a(href="#")
                        img.icon(src="assets/img/new-logo.svg")

                .bottom-navigation__menu
                    ul.bottom-navigation__menu-list
                        li.bottom-navigation__menu-list-item
                            a.navbar__list-item-title(href="#")
                                span Categories
                        li.bottom-navigation__menu-list-item
                            a.navbar__list-item-title(href="#")
                                span Smart Home
                            .bottom-navigation__menu-dropdown-container
                                ul#bottom-navbar-list.dropdown-container__list
                                    li.dropdown-container__list-item
                                        a.dropdown-container__list-item-title(href="#")
                                            span Smart Home Automation Hubs
                                        ul.dropdown-container__inner-list
                                            li.dropdown-container__inner-list-item
                                                a.dropdown-container__inner-list-item-title(href="#")
                                                    span Smart Home Automation Hubs
                                            li.dropdown-container__inner-list-item
                                                a.dropdown-container__inner-list-item-title(href="#")
                                                    span Smart Home Automation Hubs
                                            li.dropdown-container__inner-list-item
                                                a.dropdown-container__inner-list-item-title(href="#")
                                                    span Smart Home Automation Hubs
                                            li.dropdown-container__inner-list-item
                                                a.dropdown-container__inner-list-item-title(href="#")
                                                    span Smart Home Automation Hubs
                                    li.dropdown-container__list-item
                                        a.dropdown-container__inner-list-item-title(href="#")
                                            span Smart Home Automation Hubs
                                    li.dropdown-container__list-item
                                        a.dropdown-container__inner-list-item-title(href="#")
                                            span Smart Home Automation Hubs
                                    li.dropdown-container__list-item
                                        a.dropdown-container__inner-list-item-title(href="#")
                                            span Smart Home Automation Hubs
                                    li.dropdown-container__list-item
                                        a.dropdown-container__inner-list-item-title(href="#")
                                            span Smart Home Automation Hubs
                                    li.dropdown-container__list-item
                                        a.dropdown-container__inner-list-item-title(href="#")
                                            span Smart Home Automation Hubs
                                    li.dropdown-container__list-item
                                        a.dropdown-container__inner-list-item-title(href="#")
                                            span Smart Home Automation Hubs
                        li.bottom-navigation__menu-list-item
                            a.navbar__list-item-title(href="#")
                                span Categories
                        li.bottom-navigation__menu-list-item
                            a.navbar__list-item-title(href="#")
                                span Categories

                .bottom-navigation__search-input
                    include ../../components/shared/search-input/search-input.component.pug
