@import "../../../assets/sass/_mixins/app-mixins"


.header-navigation
    font-family: $font-geometria

.top-navigation
    position: fixed
    z-index: 5
    width: 100%
    display: grid
    grid-template-columns: auto auto
    align-items: center
    background: linear-gradient(-90deg, #0A0A0A 0%, #26262A 97%)

    &.clear-nav
        grid-template-columns: repeat(4, auto)
        background-image: linear-gradient(90deg, $app-white 0%, #F4FCFF 98%)
        box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.12)

        .top-navigation__menu
            .navbar
                justify-content: space-around

        .top-navigation__links
            display: none


        .top-navigation__account
            &-help
                a
                    padding: 20px 0
                    color: $app-black
                    border-color: #ededed

            &-langswitcher
                font-size: $font-size-middle

                .select.nav-switcher
                    .select-styled
                        font-size: $font-size-middle
                        color: $app-black

                        &:after
                            top: 12px

            &-cart, &-notification
                svg
                    fill: $app-black


    &.dark-nav
        .top-navigation__logo,
        .top-navigation__menu,
        .top-navigation__search-input
            display: none

    &__logo
        text-align: center

        img
            width: 34px
            height: 34px

    &__links

        a
            margin-right: 47px
            text-transform: uppercase
            @include text-link($font-size-middle, $font-weight-regular, $app-white)

            &:first-child
                margin-left: 35px

    &__account
        display: grid
        grid-template-columns: repeat(5, 85px)
        justify-content: end
        align-items: center
        text-align: center
        font-size: 14px

        &.profile
            margin-right: 35px

        &-help
            a
                display: block
                color: $app-white
                border-left: 1px solid $app-light-grey
                border-right: 1px solid $app-light-grey
                padding: 12px 0
                transition: $app-base-transition

        &-cart, &-notification
            svg
                fill: $app-white
                width: 36px
                height: 22px


        &-login, &-signin
            height: 100%


        &-signin
            a
                background: $dark-violet

                &:hover
                    background: $dark-violet
                    color: $app-white

        &-login
            a
                background: $vivid-raspberry

                &:hover
                    background: $vivid-raspberry
                    color: $app-white

    &__action-button
        display: flex
        align-items: center
        justify-content: center
        height: 100%
        width: 100%
        border: none
        background: transparent
        color: $app-white
        cursor: pointer
        transition: $app-base-transition

.bottom-navigation
    padding-top: 45px
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15)

    &__container
        display: grid
        grid-template-columns: 5% 70% 20%
        align-items: center
        justify-content: space-between

    &__logo
        img
            width: 50px
            height: 50px

    &__menu
        &-list
            display: flex
            justify-content: space-between

            &-item
                border-bottom: 4px solid transparent
                padding: 12px 0
                transition: $app-base-transition
                position: relative
                cursor: pointer

                .navbar__list-item-title
                    padding: 12px 0

                &.has-dropdown
                    .nav-arrow
                        display: inline-block
                        position: relative
                        top: -3px
                        margin-left: 10px
                        border-width: 2px
                        border-style: solid
                        border-color: transparent transparent #353535 #353535
                        width: 10px
                        height: 10px
                        transform: rotate(-45deg)

                    &:after
                        background: $app-white
                        position: absolute
                        opacity: 0
                        content: ""
                        width: 15px
                        height: 15px
                        left: 0
                        right: 0
                        bottom: -12px
                        margin-left: auto
                        margin-right: auto
                        z-index: 99999999
                        border-width: 1px
                        border-style: solid
                        border-color: transparent transparent #ccc #ccc
                        transform: rotate(-45deg)

                    &:hover
                        .nav-arrow
                            top: 3px
                            border-color: #353535 #353535 transparent transparent

                        &:after
                            opacity: 1

                        .bottom-navigation__menu-dropdown-container
                            opacity: 1
                            visibility: visible
                            border-bottom: 1px solid rgba(0, 0, 0, .1)
                            border-top: 1px solid #ccc


        &-dropdown-container
            width: calc(100% + 240px)
            margin-left: -120px
            position: fixed
            background: $app-white
            top: 121px
            left: 0
            opacity: 0
            visibility: hidden
            z-index: 99

            .dropdown-container__list
                position: relative
                max-width: 50%
                margin: 0 auto
                min-height: 350px
                padding: 24px 0

                &-item
                    display: block
                    padding: 12px 20px
                    transition: $app-base-transition
                    line-height: 1

                    &:first-child
                        padding-top: 0

                    a
                        color: $app-black
                        font-family: geometria-medium
                        font-size: 16px

                        &:hover
                            color: $app-black
                            text-decoration: underline


                    &.has-dropdown
                        padding-bottom: 6px

                        &:hover
                            .dropdown-container__inner-list
                                opacity: 1
                                visibility: visible

            .dropdown-container__inner-list
                display: flex
                flex-direction: column
                max-height: 320px
                flex-wrap: wrap
                opacity: 0
                visibility: hidden
                position: absolute
                top: 20px
                left: 40%
                min-height: 300px
                padding-left: 35px
                border-left: 1px solid #D0D0D0

                &-item
                    display: block
                    padding: 0 20px 18px 20px
                    transition: $app-base-transition
                    line-height: 1

                    a
                        color: #9e9e9e

                        &:hover
                            color: #9e9e9e

.profile
    position: relative

    &_container
        position: relative

        img
            border-radius: 50%
            width: 39px
            height: 39px
            cursor: pointer

        &:after
            content: ""
            position: absolute
            top: 13px
            right: 5px
            display: inline-block
            border-width: 2px
            border-style: solid
            border-color: transparent transparent $vivid-raspberry $vivid-raspberry
            width: 10px
            height: 10px
            transform: rotate(-45deg)

        &-dropdown
            li
                padding: 0

                a
                    padding: 12px 0
                    color: $app-black

//Multilevel dropdown
ol, ul
    list-style: none
    margin: 0
    padding: 0

.navbar
    display: flex

    li
        position: relative

.navbar
    span
        cursor: pointer

    &__list-item
        position: relative

        &:after
            content: ""
            position: absolute
            width: 10px
            height: 5px
            border-top: solid 5px #637381
            border-left: solid 5px transparent
            border-right: solid 5px transparent
            top: 23px
            right: 0

        &-title
            display: block
            position: relative
            color: #353535
            font-size: $font-size-medium
            font-weight: $font-weight-semi-bold
            padding: 12px 20px
            text-decoration: none
            text-transform: none

            &:hover
                color: #353535

    &__inner-list-item
        position: relative

        &.has-dropdown

            &:after
                content: ""
                position: absolute
                top: 20px
                right: 15px
                display: inline-block
                border-width: 2px
                border-style: solid
                border-color: transparent $app-black $app-black transparent
                width: 10px
                height: 10px
                transform: rotate(-45deg)

            ul
                span
                    text-transform: capitalize

            &.inner
                .navbar__inner-list
                    &-item
                        span
                            font-size: $font-size-middle

        &:hover
            background: #eee

ul.navbar li ul
    margin: 0
    position: absolute
    background: $app-white
    left: 10%
    min-width: 170px
    opacity: 0
    visibility: hidden
    z-index: 99


ul.navbar ul li
    float: none

ul.navbar
    li:hover > ul
        opacity: 1
        visibility: visible
        left: 0

ul.navbar > li:hover > ul
    opacity: 1
    visibility: visible
    top: 100%
    left: 20px
    width: 295px
    background: $app-white
    padding: 10px 0
    border-radius: $border-radius-default
    border: 1px solid #E8E8E8

ul.navbar li > ul ul
    top: 0
    left: 90%

ul.navbar li > ul ul.navbar-grid
    display: grid
    grid-template-columns: repeat(2, auto)
    width: auto !important

    .navbar__inner-list-item
        min-width: 300px

ul.navbar li > ul li:hover > ul
    left: 100%
    top: -10px
    background: $app-white
    padding: 10px 0
    border-radius: $border-radius-default
    border: 1px solid #E8E8E8
    width: 295px


@media (max-width: 768px)
    .header-navigation
        height: 70px

    .bottom-navigation
        display: none

    .top-navigation
        background-image: unset
        background: $app-white
        padding: 10px
        width: 100vw

        &.clear-nav
            grid-template-columns: 15% 85%

        &__links,
        &__menu
            display: none

        &__account
            grid-template-columns: repeat(1, auto)
            justify-content: center
            display: none

            &-langswitcher,
            &-help,
            &-login,
            &-signin
                display: none
