.user-profile

    &_tabs-container
        .tabs
            background: $vivid-raspberry
            border: none

            .container
                padding: 0

        .tabs_navigation
            justify-content: start

            li
                width: 213px

                a
                    background: transparent
                    padding: 20px
                    color: $app-white
                    text-transform: none
                    font-weight: $font-weight-regular

                    &.active, &:hover
                        background: #015c4f

        .tabgroup
            height: 100%


    &_box
        display: grid
        grid-template-columns: 25% 75%
        width: 960px
        margin: 0 auto
        box-shadow: 0 1px 4px 0 rgba(0,0,0,0.18)

        &-main, &-sidebar
            padding: 40px
            height: 100%

        &-sidebar
            background-image: linear-gradient(-175deg, #68BAF5 42%, #2BC4FF 99%)

        &-main
            background: $app-white

        .user-profile_tabs
            .tabs_navigation
                display: flex
                flex-direction: column

                li
                    width: 100%
                    margin-bottom: 10px

                    a
                        padding: 0
                        background: transparent
                        font-weight: $font-weight-bold
                        color: #C1E6FC

                        &.active
                            color: $app-white


    &_avatar
        position: relative
        margin-bottom: 40px

        &-upload
            position: absolute
            bottom: 0
            right: 15px
            display: flex
            justify-content: center
            align-items: center
            width: 37px
            height: 37px
            border-radius: 50%
            background: $app-white

            svg
                width: 21px
                height: 15px
        img
            width: 150px
            height: 150px
            border-radius: 50%


    &_form-row
        padding-bottom: 25px

        &-title
            margin-bottom: 10px

            h5
                margin: 0
                font-size: $font-size-medium
                font-weight: $font-weight-semi-bold
            
        &:first-child
            display: grid
            grid-template-columns: repeat(2, 2fr)
            grid-gap: 10px

        &:nth-child(2), &:nth-child(3)
            display: flex
            flex-direction: column

        &:last-child
            display: flex
            flex-direction: row
            align-items: center
            padding-bottom: 0
            padding-top: 25px
            border-top: 1px solid #97979752
            
        .save_button
            background: $vivid-raspberry
            line-height: 42px
            width: 200px
            margin-right: 40px
            font-weight: $font-weight-semi-bold
            font-size: $font-size-middle
            color: $app-white
            text-align: center
            text-decoration: none
            border: none
            text-transform: uppercase
            cursor: pointer

        .delete_button
            font-weight: $font-weight-semi-bold
            font-size: $font-size-middle
            color: $app-light-red

        &.edit-shipping-form
            display: none

    &_address-container
        display: grid
        grid-template-columns: 85% 15%
        width: 60%
        padding: 15px
        border: 1px solid #D8D8D8

        .address-row
            display: flex

            &_content
                font-size: $font-size-middle

                span
                    display: block
                    width: 100%
                    line-height: 1
                    margin-bottom: 15px
                    letter-spacing: 0.8px

            svg
                height: 16px
                width: 12px
                margin-right: 10px
                
        &-edit
            button
                background: $vivid-raspberry
                font-size: $font-size-middle
                color: $app-white
                border: none
                cursor: pointer
                border-radius: $border-radius-default
                padding: 5px 15px
            

.account-form

    .user-profile

        &_form-row
            &:first-child
                grid-template-columns: unset
                grid-auto-columns: 50%

.radio
    cursor: pointer
    user-select: none
    text-align: left
    margin: 0 40px 0 0

    input
        display: none

        &+span
            display: inline-block
            position: relative
            padding-left: 20px
            font-size: $font-size-middle

            &:before, &:after
                content: ''
                display: block
                position: absolute
                top: 15%
                left: 0
                border-radius: 50%
                width: 16px
                height: 16px

            &:before
                margin-right: 5px
                border: 1px solid #ccc
        
            &:after
                opacity: 0
                border: 5px solid $vivid-raspberry
                transform: scale(0,0)
                transition: all .2s cubic-bezier(0.64, 0.57, 0.67, 1.53)
        
    
        &:checked+span:after
            opacity: 1
            transform: scale(1,1)
    

