.product-card
    .product_image
        img(src="assets/img/product_img.png", alt="Product Title")
    .product_actions
        .product_actions-action.play
            .hint-container
                span Video preview
            svg.icon
                use(xlink:href="#icon_play")

        .product_actions-action.comment
            .hint-container
                span 1488 Comments
            svg.icon
                use(xlink:href="#icon_comment")

        .product_actions-action.discount
            .hint-container
                span Up to 40% discount
            svg.icon
                use(xlink:href="#icon_discount")

        .product_actions-action.add
            svg.icon
                use(xlink:href="#icon_add")
    .product_content
        .product_content-title
            span Yevo X Humanium Metal Earbuds
        .product_content-price
            .product_content-price-number
                span.symbol $
                span.price 499
            .product_content-price-currency
                span.currency USD