@import "../../../../assets/sass/vars"
@import "../../../../assets/sass/_mixins/app-mixins"


.product-card
    background: $app-white
    position: relative
    overflow: hidden
    transition: $transition-base
    max-width: 290px
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.153589)
    border-radius: $border-radius-default

    &:hover
        box-shadow: 1px 2px 20px 0 rgba(0, 0, 0, 0.3)


.product_actions
    display: grid
    grid-template-columns: repeat(4, auto)
    margin-top: -20px
    position: absolute
    width: 100%

    &-action
        box-sizing: content-box
        display: flex
        align-items: center
        justify-content: center
        width: 32px
        height: 32px
        margin: 0 auto
        position: relative
        border-radius: 50%
        cursor: pointer
        transition: $app-base-transition
        border: 4px solid $app-white

        &:hover
            .hint-container
                opacity: 1
                visibility: visible

        &.play
            background: $app-light-red

            &:hover
                background: $app-red-hover

            svg
                width: 9px
                height: 13px
                fill: $app-white

            .hint-container
                background: $app-light-red

        &.comment
            background: $app-blue

            &:hover
                background: $app-blue-hover

            svg
                width: 13px
                height: 13px
                fill: $app-white

            .hint-container
                background: $app-blue

        &.discount
            background: $app-orange

            &:hover
                background: $app-orange-hover

            svg
                width: 14px
                height: 22px
                fill: $app-white

            .hint-container
                background: $app-orange

        &.add
            background: $app-lighter-grey

            &:hover
                background: $app-lighter-grey-hover

            svg
                width: 16px
                height: 16px
                fill: $app-secondary-green

            .hint-container
                background: $app-secondary-green

        .hint-container
            display: flex
            justify-content: center
            align-items: center
            position: absolute
            top: -45px
            right: -125px
            opacity: 0
            visibility: hidden
            font-size: $font-size-small
            color: $app-white
            height: 32px
            min-width: 132px
            border-radius: 25px
            transition: $app-base-transition
            z-index: 1

.product_content
    height: 135px

    &-title
        font-weight: $font-weight-semi-bold
        font-size: $font-size-regular
        padding: 10px
        letter-spacing: 0.38px

        span
            height: 52px
            overflow: hidden
            display: block

    &-price
        display: flex
        align-items: center
        padding: 10px 10px 20px 10px

        &-number
            font-size: $font-size-secondary-regular
            color: $vivid-raspberry
            letter-spacing: 0.43px
            margin-right: 5px

        &-currency
            font-size: $font-size-middle
            color: #ABABAB



@media only screen and (max-width: 768px)
    .product-card
        max-width: 100%

        .product
            &_content
                height: 85px

            &_content-title
                span
                    height: 42px

    .product_actions
        margin-top: -40px

        &-action
            border: none

            &.add
                background: rgba(222, 235, 243, 0.5)
                svg
                    fill: $app-white

            &.play,
            &.comment,
            &.discount
               visibility: hidden


    .product_content
        margin-top: 0

        &-title
            padding-bottom: 0
            font-size: $font-size-middle
            letter-spacing: 0

        &-price
            padding: 5px 10px

            &-currency
                display: none

            &-number
                font-family: $font-geometria-bold
                color: $app-black
                font-size: $font-size-middle

