section.header-container
    .container
        ul.header-container_breadcrumbs-list
            li.header-container_breadcrumbs-list-item
                a(href="#") Main page

            li.header-container_breadcrumbs-list-item
                a(href="#") All Categories

            li.header-container_breadcrumbs-list-item
                a(href="#") Smart Home

    .header-container_block
        .header-container_title
            h1 Smart Home

            p Smart home technology promises to make your living space more comfortable, more convenient, and more secure. We're here to put those claims to the test to help you find the right gadgets for your home.

        .search-container
            .search-container_select
                select#nav-switcher
                    option(value="hide") Price range:
                    option(value="50") 50.00$ and Under
                    option(value="1000") 1000.00$ and Under
                    option(value="4000") 4000.00$ and Under

            .search-container_select
                select#nav-switcher
                    option(value="hide") Sort by:
                    option(value="low") Lowest
                    option(value="new") Newest
                    option(value="high") Highest


