.header-container
    padding-top: 0

    &_breadcrumbs-title
        display: none

    &_breadcrumbs-list
        display: flex
        align-items: center
        padding: 15px 0

        &-item
            margin-left: 15px
            padding-right: 25px
            position: relative
            opacity: .5

            &:after
                content: ""
                position: absolute
                top: 9px
                right: 3px
                display: inline-block
                border-width: 2px
                border-style: solid
                border-color: transparent $app-black $app-black transparent
                width: 10px
                height: 10px
                transform: rotate(-45deg)


            &:first-child
                margin-left: 0

            &:last-child
                a
                    color: $app-black

                &:after
                    content: none

            a
                color: $app-black
                font-size: $font-size-middle


    &_block
        background-image: $main-gradient
        padding: 60px 0 10px 0

    &_title
        text-align: center
        color: $app-white
        max-width: 750px
        margin: 0 auto

        h1
            font-size: $font-size-mega-large
            font-weight: $font-weight-semi-bold
            line-height: 65px

        h3
            text-transform: capitalize

    .search-input
        width: 600px
        margin: 0 auto
        margin-bottom: 50px

    .search-container
        user-select: none
        padding: 15px
        max-width: 640px
        margin: 0 auto
        display: grid
        grid-template-columns: 1fr 1fr
        grid-column-gap: 10px
        text-align: left

        &_select
            background: rgba(255, 255, 255, 0.5)
            border-radius: $border-radius-default
            border: none

        .select
            width: 100%
            height: 50px
            border: none

            .select-styled
                font-size: $font-size-middle
                padding: 12px 15px
                color: $app-white

                &:active
                    &:after
                        border-color: $app-black

            &.nav-switcher
                .select-styled:after
                    top: 18px
                    border-color: transparent transparent $app-white $app-white

            .select-options
                li
                    font-size: $font-size-middle
                    padding: 15px 20px
                    color: #8C8C8C
                    text-align: left

@media only screen and (max-width: 768px)
    .header-container
        .search-input
            width: 90%

        &_breadcrumbs-title            
            display: flex
            justify-content: space-between
            align-items: center
            background: #E6F1FF
            text-transform: none
            padding: 10px
            margin: 0
            cursor: pointer
            
            &:after
                content: ""
                position: absolute
                top: 15px
                right: 13px
                display: inline-block
                border-width: 2px
                border-style: solid
                border-color: transparent transparent #131313 #131313
                width: 10px
                height: 10px
                -webkit-transform: rotate(-45deg)
                -ms-transform: rotate(-45deg)
                transform: rotate(-45deg)

            &.open
                &:after
                    top: 22px
                    border-color: #131313 #131313 transparent transparent

        &_breadcrumbs-list
            display: none
            flex-direction: column
            padding-top: 0
            margin: 0 -10px

            &-item
                display: flex
                justify-content: space-between
                align-items: center
                background: $app-white
                border-bottom: 2px solid #f4f4f4
                font-size: $font-size-medium
                font-weight: $font-weight-semi-bold
                padding: 15px
                border-bottom: 2px solid #f4f4f4
                cursor: pointer
                text-align: left

                &:after
                    display: none

            &__icon
                transform: none
