.section-container.features-section
    .container
        .subscription-container
            .section-title.center.margin
                h2.margin-minor Subscription
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus finibus rhoncus est, ut finibus neque hendreri
            .section-content.center
                .box
                    form#mc-embedded-subscribe-form.validate(action='http://hackinout.us15.list-manage.com/subscribe/post-json?u=e44c1f194bec93e238615469e&id=fa63cb4ac7&c=?', method='get', name='mc-embedded-subscribe-form')
                        .form-container
                            input#mce-EMAIL.email(type='email', value='', name='EMAIL', placeholder='Email', required='')
                            div(style='position: absolute; left: -5000px;', aria-hidden='true')
                                input(type='text', name='b_e44c1f194bec93e238615469e_f6f826e769', tabindex='-1', value='')
                            input#mc-embedded-subscribe.mc-button(type='submit', value='subscribe', name='Subscribe')
                        #subscribe-result