.section-subscription
    padding: 30px 0
    margin: 30px 0
    border-top: 1px dashed #ccc
    border-bottom: 1px dashed #ccc    

.subscription-container
    max-width: 60%
    margin: 0 auto

.form-container
    display: flex
    justify-content: space-evenly
    align-items: center

.margin-minor
    margin-bottom: 1rem!important

input
    border: 1px solid rgb(220, 219, 235)
    border-radius: 0
    font-size: 13px
    padding: 10px
    color: #000
    transition: all .15s ease-in


input[type=email]
    width: 60%


input[type=submit]
    background: $vivid-raspberry
    width: 118px
    height: 42px
    font-size: 14px
    color: $app-white
    text-align: center
    text-decoration: none
    border-radius: $border-radius-default
    border: none
    cursor: pointer
    text-transform: capitalize


input[type=submit]::focus 
    border: 1px solid #fff

input::placeholder 
    color: #999

#subscribe-result p 
    margin-top: 35px
