.description_container
    .description_head
        .description_head-logo-container
            .description_head-logo
                img.brand(src='assets/img/vevo_logo_black.png', alt='')
        .description_head-title-container
            .description_head-title
                h1 Meet Mevo, the live event camera, Meet Mevo, the live event camera
            .description_head-rating
                .description_head-rating-stars
                    input#rate1-star1.rating_input(type='radio', name='rate1', value='1')
                    label(for='rate1-star1', title='Excellent')
                        svg.icon
                            use(xlink:href="#rating_star")

                    input#rate1-star2.rating_input(type='radio', name='rate1', value='2')
                    label(for='rate1-star2', title='Good')
                        svg.icon
                            use(xlink:href="#rating_star")
                    input#rate1-star3.rating_input(type='radio', name='rate1', value='3')
                    label(for='rate1-star3', title='Satisfactory')
                        svg.icon
                            use(xlink:href="#rating_star")

                    input#rate1-star4.rating_input(type='radio', name='rate1', value='4')
                    label(for='rate1-star4', title='Bad')
                        svg.icon
                            use(xlink:href="#rating_star")
                    input#rate1-star5.rating_input(type='radio', name='rate1', value='5')
                    label(for='rate1-star5', title='Very bad')
                        svg.icon
                            use(xlink:href="#rating_star")


            .description_head-views
                svg.icon
                    use(xlink:href="#views_icon")
                .description_head-views-content
                    span.title Views
                    span.value 10200
            .description_head-views
                svg.icon
                    use(xlink:href="#reviews_icon")
                .description_head-views-content
                    span.title Reviews
                    span.value 1000
    .description_content
        .description_content-block
            .content-block_section
                include ../pricing/pricing.component.pug
                .content-block_section-item
                    h5 About product
                    .content-block_section-text
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.