.description_head
    display: grid
    grid-template-columns: 20% 80%
    grid-gap: 10px
    color: $app-black

    &-logo
        display: flex
        align-items: center
        justify-content: center
        grid-row: 1/2
        width: 100px
        height: 100px
        border: 1px solid #f0f0f0

    &-title-container
        display: flex
        flex-wrap: wrap

    &-title
        width: 100%
        padding-top: 20px

        h1
            font-size: 23px
            font-weight: $font-weight-semi-bold

    &-rating
        width: 35%
        display: flex
        align-items: center

        &-stars
            display: flex
            flex-direction: row-reverse
            justify-content: flex-end

            label
                float: right
                margin: 0

                svg
                    width: 27px
                    height: 27px
                    fill: $gray

            label:hover,
            label:hover ~ label
                svg
                    fill: #FFC850

            input:checked ~ label
                svg
                    fill: #FFC850

            input:checked ~ label:hover,
            input:checked ~ label:hover ~ label
                svg
                    fill: #FFC850

    &-views
        width: 30%
        display: flex
        align-items: center

        &-content
            display: flex
            flex-direction: column
            font-size: $font-size-middle
            font-weight: $font-weight-semi-bold
            line-height: 1
            margin-left: $app-spacing-default

            .title
                color: $app-black

            .value
                color: $vivid-raspberry

        svg
            width: 27px
            height: 27px

.description_content
    margin: 35px 0
    margin-bottom: 20px
    padding: 30px 0
    border: 1px solid #f0f0f0
    border-left: none
    border-right: none

    &-block
        height: 390px
        overflow: hidden
        padding-right: $app-spacing-default


.section-options
    &_item
        display: flex
        justify-content: space-between
        width: 254px
        height: 54px
        padding: 0 20px
        margin-bottom: $app-spacing-default
        background: none
        border: 1px solid #f0f0f0
        border-radius: 5px
        cursor: pointer
        font-size: $font-size-middle

        &:active, &:focus
            outline: none

        &:hover, &.active
            border-color: #3CB878
            box-shadow: 0 0 4px 0 rgba(60, 184, 120, 0.50)

        .color_block
            display: flex
            justify-content: space-between

        .select_color
            width: 26px
            height: 26px
            margin-right: $app-spacing-default
            background: #433E4A
            border-radius: 50%


.rating_input
    display: none

.content-block
    height: 100%

    &_section
        height: 100%

    &_section-text
        font-size: $font-size-middle

    &_section-item
        overflow-y: auto
        height: 100%


        h5
            font-family: $font-geometria-bold
        p
            font-family: $font-geometria


@media only screen and (max-width: 768px)
    .content-block
        &_section-item
            overflow-y: auto
            height: 210px

    .description_head
        grid-template-columns: 25% 80%

        &-rating
            width: 100%
            margin-bottom: 16px
            
        &-logo
            width: 80px
            height: 80px

        &-title
            padding-top: 0

            h1
                font-size: $font-size-medium

    .description_content-block
        padding: 0
