
.tabs
    border-bottom: 1px solid rgba(0,0,0,.1)

    .tabs_navigation
        display: flex
        width: 100%
        justify-content: space-around


        a, span
            display: block
            text-align: center
            text-decoration: none
            text-transform: uppercase
            color: $app-black
            padding: 0 20px 20px 20px
            cursor: pointer
            font-weight: $font-weight-semi-bold
            font-size: $font-size-medium

            &:focus, &:active
                outline: none

            &:hover, &.active
                background: $main-gradient 0 100%/100% 3px no-repeat


    &_container
        &.authorization
            .tabs_navigation
                li
                    width: 100%

                    a, span
                        background: transparent
                        border-bottom: 3px solid transparent

                        &.active
                            border-bottom: 3px solid $vivid-raspberry

            .tabgroup
                height: auto

.tabgroup
    &_title
        h5
            font-family: $font-geometria-medium
            text-transform: uppercase

    &_content
        padding-bottom: 36px

        &:first-child
            .tabgroup_content-grid
                padding-top: 20px

@media only screen and (max-width: 768px)
    .tabgroup
        height: auto
        overflow: visible

        &_title
            text-align: center

    .tabs
        .tabs_navigation
            a, span
                padding: $app-spacing-minor 0
                font-size: 9px
        a, span
            font-size: $font-size-middle

@media only screen and (max-width: 575.98px)

    .tabs
        a, span
            padding: 10px 0

            &:hover, &.active
                background: $vivid-raspberry
