.tabs_container
    .tabs
        .container
            ul.tabs_navigation
                li
                    span.active(href='#tab1') Trending now
                li
                    span#buttonOne(href='#') Best sellers
                li
                    span#buttonTwo(href='#') Local products
                li
                    span#buttonThree(href='#') Featured products
    .container
        .tabgroup
            .tabgroup_content#tab1
                .tabgroup_content-grid.products_grid
                    - for (var x = 0; x < 4; x++)
                        include ../../components/shared/product-card/product-card.component.pug

            .tabgroup_content#sectionOne
                .tabgroup_title
                    h5 Best sellers
                .tabgroup_content-grid.products_grid
                    - for (var x = 0; x < 4; x++)
                        include ../../components/shared/product-card/product-card.component.pug

            .tabgroup_content#sectionTwo
                .tabgroup_title
                    h5 Local products
                .tabgroup_content-grid.products_grid
                    - for (var x = 0; x < 4; x++)
                        include ../../components/shared/product-card/product-card.component.pug

            .tabgroup_content#sectionThree
                .tabgroup_title
                    h5 Featured products
                .tabgroup_content-grid.products_grid
                    - for (var x = 0; x < 4; x++)
                        include ../../components/shared/product-card/product-card.component.pug