.video-block
    .video-block_title
        h2 Best video reviews
    .video-block_slider
        .video-block_slider-carousel.owl-carousel
            .item
                iframe(width="560" height="315" src="https://www.youtube.com/embed/5-xFfqcPz44" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="")

            .item
                iframe(width="560" height="315" src="https://www.youtube.com/embed/5-xFfqcPz44" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="")

            .item
                iframe(width="560" height="315" src="https://www.youtube.com/embed/5-xFfqcPz44" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="")
