.video-block
    &_title
        h2
            text-align: center
            text-transform: uppercase
            font-weight: $font-weight-semi-bold
            line-height: 1
            margin: 0

    &_slider
        margin: 25px 0 0

    &_slider-carousel
        &.owl-carousel
            .owl-nav.disabled
                display: block!important
                margin: 0
                text-align: unset

                button
                    position: absolute
                    top: 36%
                    background: $vivid-raspberry

                    &:hover
                        background: #454545

                    &.owl-prev
                        left: -30px

                    &.owl-next
                        right: -30px

            &.owl-loaded
                width: 95%
                margin: 0 auto

            .item
                position: relative

                svg
                    position: absolute
                    display: none
                    width: 40px
                    height: 40px
                    fill: $app-white
                    
                a
                    img
                        width: 350px
                        height: 250px

                    &:hover
                        svg
                            display: block
                            z-index: 1
                            margin: auto
                            position: absolute
                            top: 0
                            left: 0
                            bottom: 0
                            right: 0

                        &:before
                            content: ""
                            background: rgba(0, 0, 0, 0.5)
                            position: absolute
                            height: 100%
                            width: 100%
                            z-index: 1
