.footer-mobile-nav
    .navigation-links
        nav#otherMenu.other(role='navigation')
            .inner-menu
                ul
                    li.inner-menu__item
                        a(href='#') How it works?
                        svg.inner-menu__icon
                            use(xlink:href="#nav-arrow")
                    li.inner-menu__item
                        a(href='#') About us
                        svg.inner-menu__icon
                            use(xlink:href="#nav-arrow")
                    li.inner-menu__item
                        a(href='#') News
                        svg.inner-menu__icon
                            use(xlink:href="#nav-arrow")
                    li.inner-menu__item
                        a(href='#') Contact us
                        svg.inner-menu__icon
                            use(xlink:href="#nav-arrow")
                    li.inner-menu__item
                        a(href='#') Become a partner
                        svg.inner-menu__icon
                            use(xlink:href="#nav-arrow")
                    li.inner-menu__item
                        a(href='#') Our team
                        svg.inner-menu__icon
                            use(xlink:href="#nav-arrow")

                ul
                    li.inner-menu__item
                        a(href='#') Terms of service
                        svg.inner-menu__icon
                            use(xlink:href="#nav-arrow")
                    li.inner-menu__item
                        a(href='#') Privacy policy
                        svg.inner-menu__icon
                            use(xlink:href="#nav-arrow")
                    li.inner-menu__item
                        a(href='#') Cookie policy
                        svg.inner-menu__icon
                            use(xlink:href="#nav-arrow")

        nav#catalogMenu(role='navigation')
            ul.catalog-list
                li.item
                    img.item__icon(src="assets/img/new-logo.svg")

                    span Smart home
                    label.item__label(for='menu-3')
                    input#menu-3.item__label-checkbox(type='checkbox', name='menu-3')
                    .inner-menu
                        label.inner-menu__toggle(for='menu-3')
                            svg.inner-menu__icon
                                use(xlink:href="#nav-arrow")
                            span Smart Home
                        ul
                            li.inner-menu__item
                                a(href='#') Subcategory
                            li.inner-menu__item
                                a(href='#') Subcategory
                            li.inner-menu__item
                                a(href='#') Subcategory
                            li.inner-menu__item
                                a(href='#') Subcategory
                            li.inner-menu__item
                                a(href='#') Subcategory
                            li.inner-menu__item
                                a(href='#') Subcategory
                            li.inner-menu__item
                                a(href='#') Subcategory
                            li.inner-menu__item
                                a(href='#') Subcategory
                            li.inner-menu__item
                                a(href='#') Subcategory
                            li.inner-menu__item
                                a(href='#') Subcategory
                            li.inner-menu__item
                                a(href='#') Subcategory
                            li.inner-menu__item
                                a(href='#') Subcategory

                li.item
                    a.item_link(href='#')
                        svg.item__icon
                            use(xlink:href="#nav_smarthome-systems")
                        span Smart home systems
                li.item
                    a.item_link(href='#')
                        svg.item__icon
                            use(xlink:href="#nav_robots")
                        span Robots
                li.item
                    a.item_link(href='#')
                        svg.item__icon
                            use(xlink:href="#nav_transport")
                        span Personal transport

                li.item
                    a.item_link(href='#')
                        svg.item__icon
                            use(xlink:href="#nav_health")
                        span Health & fitness gadgets

                li.item
                    a.item_link(href='#')
                        svg.item__icon
                            use(xlink:href="#nav_drones")
                        span Drones
                li.item
                    a.item_link(href='#')
                        svg.item__icon
                            use(xlink:href="#nav_phones")
                        span Phones & accessories
                li.item
                    a.item_link(href='#')
                        svg.item__icon
                            use(xlink:href="#nav_computers")
                        span Home

                li.item
                    a.item_link(href='#')
                        svg.item__icon
                            use(xlink:href="#nav_audio")
                        span Audio devices

                li.item
                    a.item_link(href='#')
                        svg.item__icon
                            use(xlink:href="#nav_cameras")
                        span Computers

                li.item
                    a.item_link(href='#')
                        svg.item__icon
                            use(xlink:href="#nav_wearable")
                        span Wearable devices

                li.item
                    a.item_link(href='#')
                        svg.item__icon
                            use(xlink:href="#nav_solar")
                        span Solar products

                li.item
                    a.item_link(href='#')
                        svg.item__icon
                            use(xlink:href="#nav_printers")
                        span 3D printers


                li.item
                    a.item_link(href='#')
                        svg.item__icon
                            use(xlink:href="#nav_skeleton")
                        span Exoskeleton &  prosthetics

                li.item
                    a.item_link(href='#')
                        svg.item__icon
                            use(xlink:href="#nav_collections")
                        span Collections

        a.navigation-links__button(href="#" class="catalog-link")
            svg.item__icon
                use(xlink:href="#icon_catalog")
            span All products

        a.navigation-links__button(href="")
            svg.item__icon
                use(xlink:href="#icon_search-01")
            span Search

        a.navigation-links__button(href="")
            svg.item__icon
                use(xlink:href="#icon_profile")
            span Profile

        //a.navigation-links__button(href="#" class="other-link")
        //    svg.item__icon
        //        use(xlink:href="#icon_other")
        //    span Other
