.footer-mobile-nav
    display: none
    position: fixed
    z-index: 9
    bottom: 0
    width: 100vw
    height: 60px
    padding: 18px 0
    background: $app-white
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3)


.navigation-links
    display: grid
    grid-template-columns: repeat(3, 1fr)
    align-items: center
    justify-items: center
    position: relative

    &__button
        display: flex
        align-items: end
        text-align: center
        text-decoration: none
        color: $app-black
        font-family: $font-geometria-medium
        font-size: $font-size-small

        &:hover, &:active
            text-decoration: none
            color: $app-black

        &.active
            color: $vivid-raspberry

            svg
                fill: $vivid-raspberry

        svg
            width: 15px
            height: 15px
            margin-right: 10px

            &.logo
                width: 30px
                height: 30px
                margin-bottom: 0


nav[role=navigation]
    height: 0
    position: absolute
    z-index: 8
    width: 100%
    bottom: 32px
    background: $app-white
    grid-gap: 10px
    box-sizing: border-box
    padding: 10px
    opacity: 0
    overflow-y: scroll
    clear: both
    transition: all 0.3s ease-out

    &.active
        height: calc(100vh - 36px)
        opacity: 1

    &.other
        padding: 0
        background: #f4f4f4

        .inner-menu
            transform: none
            background: none
            position: unset

            ul
                &:first-child
                    margin-bottom: $app-spacing-default * 2

            &__item
                display: flex
                justify-content: space-between
                align-items: center
                background: $app-white
                border-bottom: 2px solid #f4f4f4
                text-transform: none

            &__icon
                transform: none


ul.catalog-list
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: repeat(8, 146px)
    grid-gap: 10px
    margin: 0
    padding: 0
    border: 0

    .item
        background: #f7f7f7
        border-radius: 10px
        display: flex
        flex-direction: column
        justify-content: space-evenly
        align-items: center
        text-align: center
        font-size: $font-size-middle
        cursor: pointer
        position: relative

        &_link
            display: flex
            flex-direction: column
            justify-content: space-evenly
            align-items: center
            text-align: center
            width: 100%
            height: 100%
            color: #212529

        &:last-child
            grid-column: 1/3

        &__icon
            width: 80px
            height: 80px

        &__label
            position: absolute
            top: 0
            width: 100%
            height: 100%
            margin: 0
            cursor: pointer

            &-checkbox
                display: none

                &:checked + .inner-menu
                    transform: translate3d(0, 0, 0)
                    height: 100%
                    overflow-y: auto


.inner-menu
    z-index: 9999999999
    width: 100%
    position: fixed
    padding: 0 0 12px 0
    display: block
    top: 0
    right: 0
    background: $app-white
    transform: translate3d(-100%, 0, 0)
    transition: transform 0.35s


    &__icon
        width: 20px
        height: 20px
        fill: #B8C6CC
        margin-right: 12px
        transform: rotate(-180deg)


    &__toggle
        width: 100%
        font-size: $font-size-medium
        font-weight: $font-weight-semi-bold
        text-transform: uppercase
        padding: 20px
        border-bottom: 2px solid #f4f4f4
        cursor: pointer
        background: #E6F1FF
        display: flex
        align-items: center

    &__item
        font-size: $font-size-medium
        font-weight: $font-weight-semi-bold
        text-transform: uppercase
        padding: 20px
        border-bottom: 2px solid #f4f4f4
        cursor: pointer
        text-align: left

        a
            color: $app-black


@media (max-width: 768px)
    .footer-mobile-nav
        display: block
