#carouselExampleIndicators.carousel.slide.main-slider.slider(data-ride="carousel", data-interval="3500")
    .slider_slide-container
        .slide-group
            ol.carousel-indicators
                li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
                li(data-target='#carouselExampleIndicators', data-slide-to='1')
                li(data-target='#carouselExampleIndicators', data-slide-to='2')

            .carousel-inner
                .carousel-item.active.slide-group_slide
                    .slide-group_slide-caption.carousel-caption(style="background-image: url(https://4prototypes.com/media/marketing/63257441418580560260/63257441418580560260.png)")
                        .d-none.d-md-block.slide-group_slide-caption-container
                            .slide-group_slide-caption-text
                                span.slide-group_slide-caption-title THE ROBOMING FELLOW IS A PERSONAL ROBOT FRIEND
                                span.slide-group_slide-caption-description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            a.slide-group_slide-caption-button(href="#") Discover more
                                svg.icon
                                    use(xlink:href="#pixel_arrow")

                //.carousel-item.slide-group_slide
                //    .carousel-item_image
                //        img.d-block.w-100(src="https://4prototypes.com/media/marketing/34579306207965899127/34579306207965899127.png" alt="First slide")
                //    .container.slide-group_slide-caption.carousel-caption
                //        .d-none.d-md-block.slide-group_slide-caption-container
                //            span.slide-group_slide-caption-text LET OUR YOUNG GENERATION BE SMARTER
                //            a.slide-group_slide-caption-button(href="#") Discover more
                //                svg.icon
                //                    use(xlink:href="#pixel_arrow")
                //
                //.carousel-item.slide-group_slide
                //    .carousel-item_image
                //        img.d-block.w-100(src="https://4prototypes.com/media/marketing/92997830915886448730/92997830915886448730.png" alt="First slide")
                //    .container.slide-group_slide-caption.carousel-caption
                //        .d-none.d-md-block.slide-group_slide-caption-container
                //            span.slide-group_slide-caption-text CREATE THE SMART SPACE AROUND YOU
                //            a.slide-group_slide-caption-button(href="#") Discover more
                //                svg.icon
                //                    use(xlink:href="#pixel_arrow")
