.slider

    .carousel-indicators
        z-index: 2
        bottom: 24px


    .carousel-item
        height: 530px

        &_image
            position: relative

    .slide-group

        &_slide-caption
            &:after
                content: ''
                position: absolute
                top: 0
                width: 100%
                height: 100%
                display: block
                background: linear-gradient(139.5deg, #503397 0.13%, #702B90 16.05%, #BC177E 56.65%, #ED0B73 85.63%, #FF066F 100%)
                mix-blend-mode: multiply



        &_slide-caption-title
            font-family: $font-geometria-bold
            font-size: $font-size-mega-large

        &_slide-caption-description
            font-size: 18px
            line-height: 29px
            max-width: 70%


    &_arrow-navigation
        position: absolute
        top: 0
        display: flex
        width: 100%
        height: 100%

        &-arrow
            display: none
            width: 60px
            height: 60px
            position: absolute
            top: 40%
            bottom: 0
            cursor: pointer
            background: rgba(0, 0, 0, 0.3)
            transition: $app-base-transition


            &:hover
                background: rgba(0, 0, 0, 0.5)

            &:first-child
                left: 0

            &:last-child
                right: 0

            .previous,
            .next
                width: 20px
                height: 20px
                color: $app-white
                border-width: 4px 4px 0 0
                border-style: solid
                margin: auto

                &:before,
                &:after
                    content: ""
                    box-sizing: border-box

                &:before
                    right: 0
                    top: -3px
                    position: absolute
                    height: 4px
                    box-shadow: inset 0 0 0 32px
                    transform: rotate(-45deg)
                    width: 23px
                    transform-origin: right top

            .previous
                transform: rotate(-135deg)

            .next
                transform: rotate(45deg)

    &_slide-container
        .slide-group
            &_slide-caption
                display: flex
                align-items: center
                position: absolute
                text-align: center
                height: 100%
                right: 0
                left: 0
                bottom: 20px
                color: $app-white
                padding: 30px 0
                font-size: 36px
                font-weight: 600
                line-height: 49px
                box-sizing: border-box
                z-index: 1

                &-container
                    position: relative
                    display: flex!important
                    flex-direction: column
                    justify-content: space-around
                    align-items: start
                    text-align: left
                    max-width: 85%
                    height: 100%
                    padding: 30px
                    z-index: 1

                &-text
                    display: flex
                    flex-direction: column

                &-button
                    display: flex
                    justify-content: space-around
                    align-items: center
                    height: 70px
                    width: 240px
                    z-index: 1
                    font-weight: $font-weight-semi-bold
                    font-size: $font-size-regular
                    color: $app-white
                    cursor: pointer
                    letter-spacing: .2px
                    transition: $app-base-transition
                    background: $vivid-raspberry
                    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.236781)
                    border-radius: $border-radius-default

                    &:active, &:focus
                        outline: none

                    &:hover
                        box-shadow: 1px 2px 20px 0 rgba(0, 0, 0, 0.6)

                    svg
                        fill: $app-white
                        width: 10px
                        height: 15px

@media (min-width: 2000px)
    .carousel-inner
        overflow: hidden
        height: 640px

        .carousel-item
            height: 640px

@media only screen and (max-width: 768px)

    .slider
        .carousel-indicators
            display: none

        .carousel-inner
            overflow: visible

        .carousel-item
            height: 300px

        &_slide-container
            height: auto
            overflow: hidden
            position: relative

            .slide-group
                &_slide-caption
                    position: relative
                    width: 100%
                    padding: 0
                    right: 0
                    bottom: 0
                    background-size: cover

                    &:after
                        content: ''
                        position: absolute
                        top: 0
                        width: 100%
                        height: 100%
                        display: block
                        background: linear-gradient(139.5deg, #503397 0.13%, #702B90 16.05%, #BC177E 56.65%, #ED0B73 85.63%, #FF066F 100%)
                        mix-blend-mode: multiply

                    &-container
                        max-width: 100%
                        padding: 30px 10px

                    &-text
                        color: $app-white
                        font-size: $font-size-medium
                        line-height: initial
                        z-index: 1

                    &-title
                        font-size: 24px
                        font-family: $font-geometria

                    &-description
                        display: none

                    &-button
                        width: 200px
                        height: 50px
                        font-size: 16px

        &_arrow-navigation
            display: none

    .previous
        left: 50px

    .next
        right: 50px

