doctype html
html(lang='en')
    head

        //- Meta
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')

        meta(name='msapplication-TileColor', content='#0E0E0E')
        meta(name='theme-color', content='#0E0E0E')

        //- SEO

        //- Classic
        meta(name='description' content='Your meta description')
        meta(name='keywords', content='your, meta, keywords')
        meta(name='author' content='Edgardo Ramírez :)')

        //- Twitter
        meta(name='twitter:card', content='summary')
        meta(name='twitter:site', content='@_soldier')
        meta(name='twitter:image', content='https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-665333.jpg')
        meta(name='twitter:description', content='Your meta Twitter description')

        //- Facebook
        meta(property='og:url', content='https://edgardorl.com')
        meta(property='og:title', content='Your meta Facebook title')
        meta(property='og:description', content='Your meta Facebook description')
        meta(property='og:image', content='https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-665333.jpg')
        meta(property='og:type', content='website')

        //- Favicons
        //link(rel='shortcut icon', href=require('img/favicon/favicon.ico'))

        //- Fonts
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet")
        link(href="assets/css/main.min.css", rel="stylesheet")

        //- Title
        block title
            title Home | 4Prototypes

        //- Manifest browserconfig files
        //block manifestBrowserconfigFiles
            link(rel='manifest', href='./manifest.json')
            meta(name='msapplication-config' content='./browserconfig.xml')

    body
        .svg-sprite
            include symbol/svg/sprite.symbol.svg
        include components/navigation/navigation.component.pug
        .header-container
            .container
                #breadcrumbs-title.header-container_breadcrumbs-title
                    span Smart Home
                ul#breadcrumbs-list.header-container_breadcrumbs-list
                    li.header-container_breadcrumbs-list-item
                        a(href="#") Main page

                    li.header-container_breadcrumbs-list-item
                        a(href="#") All Categories

                    li.header-container_breadcrumbs-list-item
                        a(href="#") Smart Home
        .about-header(style="background-image: url(assets/img/about_bg.png)")

            .about-header_logo
                img.icon(src="assets/img/logo-white.svg")
                h1 About Us

        section.section
            .container
                .section-content
                    p 4Prototypes is a project where advanced technologies meet real people. As hi-tech enthusiasts we bring you all the cutting edge products with an easy and fun attitude. No need to struggle through endless data sheets, just customize your newsfeed to your interests and get a top-notch of the topics.  
                    h3.about-subtitle THE ISSUE WE COVER INCLUDE:

                    .collections_grid.about-items_grid
                        .item
                            .item_link
                                svg.icon
                                    use(xlink:href="#nav_smarthome-systems")
                                span Smart home systems
                        .item
                            .item_link
                                svg.icon
                                    use(xlink:href="#nav_robots")
                                span Robots
                        .item
                            .item_link
                                svg.icon
                                    use(xlink:href="#nav_transport")
                                span Personal transport
                        .item
                            .item_link
                                svg.icon
                                    use(xlink:href="#nav_smarthome-systems")
                                span Smart home systems
                        .item
                            .item_link
                                svg.icon
                                    use(xlink:href="#nav_robots")
                                span Robots
                        .item
                            .item_link
                                svg.icon
                                    use(xlink:href="#nav_transport")
                                span Personal transport



                    p.about-grid-footer AND LOTS OF OTHERS

        section.section.section-cta.about-cta
            .container
                .about-cta_block
                    .about-cta_title
                        h2 OUR MISSION
                        .about-cta_dash
                    .about-cta_description
                        p Our mission is to inspire and gather around people sharing passion to improvement, so 4Prototype is also a society based on your personal experience. Share your reviews in an open-minded environment and get level-ups for your expertise!

        section.section
            .container
                .about-cta_block.black
                    .about-cta_title
                        .about-cta_dash.black
                    .about-cta_description
                        p Our mission is to inspire and gather around people sharing passion to improvement, so 4Prototype is also a society based on your personal experience. Share your reviews in an open-minded environment and get level-ups for your expertise!
                .about-cta_block.black
                    .about-cta_title
                        .about-cta_dash.black
                    .about-cta_description
                        p Our mission is to inspire and gather around people sharing passion to improvement, so 4Prototype is also a society based on your personal experience. Share your reviews in an open-minded environment and get level-ups for your expertise!

        section.section
            .container
                .section-content
                    h3.about-subtitle OUR TEAM
                    .team-members_grid
                        .team-members_card
                            img(src='assets/img/team-avatar.png')
                            span.team-members_name Alex Rozhanskiy
                            .team-members_subtitle
                                span.team-members_position Founder & CEO
                                span.team-members_location Kyiv, Ukraine
                            .footer-social-column
                                .footer-social-column-links.d-flex
                                    a(href='#', target='blank')
                                        svg.icon
                                            use(xlink:href="#icon_linkedin")
                                    a(href='#', target='blank')
                                        svg.icon
                                            use(xlink:href="#icon_twitter")
                                    a(href='#', target='blank')
                                        svg.icon
                                            use(xlink:href="#icon_facebook")

                        .team-members_card
                            img(src='assets/img/team-avatar.png')
                            span.team-members_name Alex Rozhanskiy
                            .team-members_subtitle
                                span.team-members_position Founder & CEO
                                span.team-members_location Kyiv, Ukraine
                            .footer-social-column
                                .footer-social-column-links.d-flex.team-members_social
                                    a(href='#', target='blank')
                                        svg.icon
                                            use(xlink:href="#icon_linkedin")
                                    a(href='#', target='blank')
                                        svg.icon
                                            use(xlink:href="#icon_twitter")
                                    a(href='#', target='blank')
                                        svg.icon
                                            use(xlink:href="#icon_facebook")
                        .team-members_card
                            img(src='assets/img/team-avatar.png')
                            span.team-members_name Alex Rozhanskiy
                            .team-members_subtitle
                                span.team-members_position Founder & CEO
                                span.team-members_location Kyiv, Ukraine
                            .footer-social-column
                                .footer-social-column-links.d-flex
                                    a(href='#', target='blank')
                                        svg.icon
                                            use(xlink:href="#icon_linkedin")
                                    a(href='#', target='blank')
                                        svg.icon
                                            use(xlink:href="#icon_twitter")
                                    a(href='#', target='blank')
                                        svg.icon
                                            use(xlink:href="#icon_facebook")




                p.center Our mission is to inspire and gather around people sharing passion to improvement, so 4Prototype is also a society based on your personal experience. Share your reviews in an open-minded environment and get level-ups for your expertise!

        block content
        //- Footer
        include components/footer/footer.component.pug
        include components/shared/mobile-navigation/mobile-navigation.component.pug

        //- block my scripts
        script(async="", src="assets/js/scripts.min.js")
        block scripts
