doctype html
html(lang='en')
    head

        //- Meta
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')

        meta(name='msapplication-TileColor', content='#0E0E0E')
        meta(name='theme-color', content='#0E0E0E')

        //- SEO

        //- Classic
        meta(name='description' content='Your meta description')
        meta(name='keywords', content='your, meta, keywords')
        meta(name='author' content='Edgardo Ramírez :)')

        //- Twitter
        meta(name='twitter:card', content='summary')
        meta(name='twitter:site', content='@_soldier')
        meta(name='twitter:image', content='https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-665333.jpg')
        meta(name='twitter:description', content='Your meta Twitter description')

        //- Facebook
        meta(property='og:url', content='https://edgardorl.com')
        meta(property='og:title', content='Your meta Facebook title')
        meta(property='og:description', content='Your meta Facebook description')
        meta(property='og:image', content='https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-665333.jpg')
        meta(property='og:type', content='website')

        //- Favicons
        //link(rel='shortcut icon', href=require('img/favicon/favicon.ico'))

        //- Fonts
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet")
        link(href="assets/css/main.min.css", rel="stylesheet")

        //- Title
        block title
            title Authorization | 4Prototypes

        //- Manifest browserconfig files
        //block manifestBrowserconfigFiles
            link(rel='manifest', href='./manifest.json')
            meta(name='msapplication-config' content='./browserconfig.xml')

    body.form-page
        .svg-sprite
            include symbol/svg/sprite.symbol.svg

        a.button.button_primary.button-dialog-form(href="#dialog-form") Login
        a.button.button_primary.button-dialog-message(href="#dialog-message") Message dialog

        .dialog_container#dialog-message.white-popup-block.mfp-hide
            .dialog_title
                h3 Thank you!

            .dialog_content
                p Your message has been sent successfully
                p We will contact you as soon as possible

            .dialog_buttons
                a.button.button.button_primary.popup-modal-dismiss(href="#") Ok

        .dialog_container#dialog-form.white-popup-block.mfp-hide
            .dialog_title
                h3 Describe your issue
            .dialog_content
                .form-container
                    form.form-centered
                        .form-control-row
                            span.input
                                input#name.input__field(type='text')
                                label.input__label(for='name')
                                    span.input__label-content First name
                                    //span.input__label-helper Helper text

                        .form-control-row
                            span.input
                                input#email.input__field(type='text')
                                label.input__label(for='email')
                                    span.input__label-content E-mail
                                    //span.input__label-helper Helper text

                        .form-control-row
                            span.input
                                input#subject.input__field(type='text')
                                label.input__label(for='subject')
                                    span.input__label-content Subject
                                    //span.input__label-helper Helper text

                        .form-control-row
                            span.input.textarea
                                textarea#message.input__field(type='text')
                                label.input__label(for='message')
                                    span.input__label-content Message
                                    //span.input__label-helper Helper text

            .dialog_buttons
                button.button.button_primary(type="submit") Submit


        //- block my scripts
        script(async="", src="assets/js/scripts.min.js")
        block scripts
