doctype html
html(lang='en')
    head

        //- Meta
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')

        meta(name='msapplication-TileColor', content='#0E0E0E')
        meta(name='theme-color', content='#0E0E0E')

        //- SEO

        //- Classic
        meta(name='description' content='Your meta description')
        meta(name='keywords', content='your, meta, keywords')
        meta(name='author' content='Edgardo Ramírez :)')

        //- Twitter
        meta(name='twitter:card', content='summary')
        meta(name='twitter:site', content='@_soldier')
        meta(name='twitter:image', content='https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-665333.jpg')
        meta(name='twitter:description', content='Your meta Twitter description')

        //- Facebook
        meta(property='og:url', content='https://edgardorl.com')
        meta(property='og:title', content='Your meta Facebook title')
        meta(property='og:description', content='Your meta Facebook description')
        meta(property='og:image', content='https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-665333.jpg')
        meta(property='og:type', content='website')

        //- Favicons
        //link(rel='shortcut icon', href=require('img/favicon/favicon.ico'))

        //- Fonts
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet")
        link(href="assets/css/main.min.css", rel="stylesheet")

        //- Title
        block title
            title Category | 4Prototypes

        //- Manifest browserconfig files
        //block manifestBrowserconfigFiles
            link(rel='manifest', href='./manifest.json')
            meta(name='msapplication-config' content='./browserconfig.xml')

    body
        .svg-sprite
            include symbol/svg/sprite.symbol.svg
        include components/navigation/navigation.component.pug
        include components/shared/category-header/category-header.component.pug

        section.section
            .container
                .section-content
                    .products_grid
                        - for (var x = 0; x < 8; x++)
                            include components/shared/product-card/product-card.component.pug
        section.section
            include components/shared/section-carousel/section-carousel.pug
        section.section
            .container
                .section-content
                    .products_grid
                        - for (var x = 0; x < 8; x++)
                            include components/shared/product-card/product-card.component.pug
        section.section
            include components/shared/section-carousel/section-carousel.pug
        section.section
            .container
                .section-content
                    .products_grid
                        - for (var x = 0; x < 8; x++)
                            include components/shared/product-card/product-card.component.pug
        section.section
            include components/shared/section-carousel/section-carousel.pug
        section.section
            .container
                .section-content
                    .products_grid
                        - for (var x = 0; x < 8; x++)
                            include components/shared/product-card/product-card.component.pug

                    .load-more
                        button.load-more_button.green Load more
        section.section
            .container
                .section-title
                    h2 Collections
                .section-content
                    .collections_grid
                        - for (var x = 0; x < 3; x++)
                            include components/shared/collection-card/collection-card.component.pug

                    .load-more
                        button.load-more_button.green Load more
        section.section
            .section-title
                h2 SEO content
            include components/shared/section-content/section-content.pug
        //- block content
        block content

        //- Footer
        include components/footer/footer.component.pug
        include components/shared/mobile-navigation/mobile-navigation.component.pug

        //- block my scripts
        script(async="", src="assets/js/scripts.min.js")
        block scripts
