doctype html
html(lang='en')
    head

        //- Meta
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')

        meta(name='msapplication-TileColor', content='#0E0E0E')
        meta(name='theme-color', content='#0E0E0E')

        //- SEO

        //- Classic
        meta(name='description' content='Your meta description')
        meta(name='keywords', content='your, meta, keywords')
        meta(name='author' content='Edgardo Ramírez :)')

        //- Twitter
        meta(name='twitter:card', content='summary')
        meta(name='twitter:site', content='@_soldier')
        meta(name='twitter:image', content='https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-665333.jpg')
        meta(name='twitter:description', content='Your meta Twitter description')

        //- Facebook
        meta(property='og:url', content='https://edgardorl.com')
        meta(property='og:title', content='Your meta Facebook title')
        meta(property='og:description', content='Your meta Facebook description')
        meta(property='og:image', content='https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-665333.jpg')
        meta(property='og:type', content='website')

        //- Favicons
        //link(rel='shortcut icon', href=require('img/favicon/favicon.ico'))

        //- Fonts
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet")
        link(href="assets/css/main.min.css", rel="stylesheet")

        //- Title
        block title
            title Login | 4Prototypes

        //- Manifest browserconfig files
        //block manifestBrowserconfigFiles
            link(rel='manifest', href='./manifest.json')
            meta(name='msapplication-config' content='./browserconfig.xml')

    body.form-page
        .svg-sprite
            include symbol/svg/sprite.symbol.svg

        .form_section
            .form_container
                .form_container-title.login
                    p Hello there,
                    p welcome to 4Prototypes
                form
                    .form_control-row
                        span.input
                            input#login.input__field(type='text')
                            label.input__label(for='login')
                                span.input__label-content Login
                                //span.input__label-helper Helper text

                    .form_control-row
                        span.input
                            input#password.input__field(type='password')
                            label.input__label(for='password')
                                span.input__label-content Password
                                //span.input__label-helper Helper text

                    .form_control-row.link
                        a(href="/pass_recovery.html") Forgot your password?

                    .form_control-row
                        a.load-more_button.submit.gray(href="#") Sign In

                    .form_control-row
                        p.form-description-text.bottom Don’t have an account?

                    .form_control-row
                        a.button_sign-up(href="/sign-up.html") Sign Up


        //- block my scripts
        script(async="", src="assets/js/scripts.min.js")
        block scripts
