doctype html
html(lang='en')
    head

        //- Meta
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')

        meta(name='msapplication-TileColor', content='#0E0E0E')
        meta(name='theme-color', content='#0E0E0E')

        //- SEO

        //- Classic
        meta(name='description' content='Your meta description')
        meta(name='keywords', content='your, meta, keywords')
        meta(name='author' content='Edgardo Ramírez :)')

        //- Twitter
        meta(name='twitter:card', content='summary')
        meta(name='twitter:site', content='@_soldier')
        meta(name='twitter:image', content='https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-665333.jpg')
        meta(name='twitter:description', content='Your meta Twitter description')

        //- Facebook
        meta(property='og:url', content='https://edgardorl.com')
        meta(property='og:title', content='Your meta Facebook title')
        meta(property='og:description', content='Your meta Facebook description')
        meta(property='og:image', content='https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-665333.jpg')
        meta(property='og:type', content='website')

        //- Favicons
        //link(rel='shortcut icon', href=require('img/favicon/favicon.ico'))

        //- Fonts
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet")
        link(href="assets/css/main.min.css", rel="stylesheet")

        //- Title
        block title
            title Sign In | 4Prototypes

        //- Manifest browserconfig files
        //block manifestBrowserconfigFiles
            link(rel='manifest', href='./manifest.json')
            meta(name='msapplication-config' content='./browserconfig.xml')

    body
        .svg-sprite
            include symbol/svg/sprite.symbol.svg

        .form_section
            .form_container
                .tabs_container.authorization
                    .tabs
                        ul.tabs_navigation(data-tabgroup='first-tab-group')
                            li
                                a.active(href='#tab1') User
                            li
                                a(href='#tab2') Company


                    .tabgroup#first-tab-group
                        .tabgroup_content#tab1
                            form
                                .form_control-row
                                    span.input
                                        input#firstName.input__field(type='text')
                                        label.input__label(for='firstName')
                                            span.input__label-content First name
                                            //span.input__label-helper Helper text

                                .form_control-row
                                    span.input
                                        input#lastName.input__field(type='text')
                                        label.input__label(for='lastName')
                                            span.input__label-content Last name
                                            //span.input__label-helper Helper text


                                .form_control-row
                                    span.input
                                        input#email.input__field(type='text')
                                        label.input__label(for='email')
                                            span.input__label-content E-mail
                                            //span.input__label-helper Helper text

                                .form_control-row
                                    span.input
                                        input#password.input__field(type='password')
                                        label.input__label(for='password')
                                            span.input__label-content Create password
                                            span.input__label-helper 8 characters include: 1 uppercase, 1 digit, 1 lowercase

                                .form_control-row
                                    span.checkbox
                                        input#subscribe(type="checkbox")
                                        label(for="subscribe") Receive our weekly newsletter and other occasional updates

                                .form_control-row
                                    a.load-more_button.submit.gray(href="/sign-up_success.html") Sign In
                                    p.form-description-text.bottom.terms By signing up, you agree to our 
                                        | &nbsp;
                                        a(href="#") Terms of use,
                                        | &nbsp;
                                        a(href="#") Privacy Policy,
                                        | &nbsp;
                                        a(href="#") Cookie Policy

                                .form_control-row
                                    .social-authorization
                                        img(src='assets/img/social.png')

                                .form_control-row
                                    p.form-description-text.bottom Already have an account?

                                .form_control-row
                                    a.button_sign-up(href="/login.html") Log in
                        .tabgroup_content#tab2
                            form
                                .form_control-row
                                    span.input
                                        input#representativeFirstName.input__field(type='text')
                                        label.input__label(for='representativeFirstName')
                                            span.input__label-content Representative first name
                                            //span.input__label-helper Helper text

                                .form_control-row
                                    span.input
                                        input#representativeLastName.input__field(type='text')
                                        label.input__label(for='representativeLastName')
                                            span.input__label-content Representative last name
                                            //span.input__label-helper Helper text


                                .form_control-row
                                    span.input
                                        input#email.input__field(type='text')
                                        label.input__label(for='email')
                                            span.input__label-content E-mail
                                            //span.input__label-helper Helper text

                                .form_control-row
                                    span.input
                                        input#companyName.input__field(type='text')
                                        label.input__label(for='companyName')
                                            span.input__label-content Company name
                                            //span.input__label-helper Helper text

                                .form_control-row
                                    span.input
                                        input#description.input__field(type='text')
                                        label.input__label(for='description')
                                            span.input__label-content Short description
                                            //span.input__label-helper Helper text

                                .form_control-row
                                    span.input
                                        input#password.input__field(type='password')
                                        label.input__label(for='password')
                                            span.input__label-content Create password
                                            span.input__label-helper 8 characters include: 1 uppercase, 1 digit, 1 lowercase

                                .form_control-row
                                    span.checkbox
                                        input#companyCubscribe(type="checkbox")
                                        label(for="companyCubscribe") Receive our weekly newsletter and other occasional updates

                                .form_control-row
                                    a.load-more_button.submit.gray(href="/sign-up_success.html") Sign In
                                    p.form-description-text.bottom.terms By signing up, you agree to our 
                                        | &nbsp;
                                        a(href="#") Terms of use,
                                        | &nbsp;
                                        a(href="#") Privacy Policy,
                                        | &nbsp;
                                        a(href="#") Cookie Policy

                                .form_control-row
                                    p.form-description-text.bottom Already have an account?

                                .form_control-row
                                    a.button_sign-up(href="/login.html") Log in


        //- block my scripts
        script(async="", src="assets/js/scripts.min.js")
        block scripts
