doctype html
html(lang='en')
    head

        //- Meta
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')

        meta(name='msapplication-TileColor', content='#0E0E0E')
        meta(name='theme-color', content='#0E0E0E')

        //- SEO

        //- Classic
        meta(name='description' content='Your meta description')
        meta(name='keywords', content='your, meta, keywords')
        meta(name='author' content='Edgardo Ramírez :)')

        //- Twitter
        meta(name='twitter:card', content='summary')
        meta(name='twitter:site', content='@_soldier')
        meta(name='twitter:image', content='https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-665333.jpg')
        meta(name='twitter:description', content='Your meta Twitter description')

        //- Facebook
        meta(property='og:url', content='https://edgardorl.com')
        meta(property='og:title', content='Your meta Facebook title')
        meta(property='og:description', content='Your meta Facebook description')
        meta(property='og:image', content='https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-665333.jpg')
        meta(property='og:type', content='website')

        //- Favicons
        //link(rel='shortcut icon', href=require('img/favicon/favicon.ico'))

        //- Fonts
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet")
        link(href="assets/css/main.min.css", rel="stylesheet")

        //- Title
        block title
            title User Profile | 4Prototypes

        //- Manifest browserconfig files
        //block manifestBrowserconfigFiles
            link(rel='manifest', href='./manifest.json')
            meta(name='msapplication-config' content='./browserconfig.xml')

    body
        .svg-sprite
            include symbol/svg/sprite.symbol.svg
        include components/navigation/navigation_profile.component.pug
        .user-profile_navigation
            .tabs_container.user-profile_tabs-container
                .tabs
                    .container
                        ul.tabs_navigation(data-tabgroup='first-tab-group')
                            li
                                a.active(href='#tab1') Profile
                            li
                                a(href='#tab2') My wishlist
                            li
                                a(href='#tab3') My feed
                            li
                                a(href='#tab3') My orders

                .tabgroup#first-tab-group
                    .tabgroup_content#tab1
                        section.section
                            .user-profile_box
                                .user-profile_box-sidebar
                                    .user-profile_avatar
                                        img(src="assets/img/usr_profile.jpg")
                                        a.user-profile_avatar-upload(href="#")
                                            svg.icon
                                                use(xlink:href="#icon_upload")

                                    .user-profile_tabs
                                        ul.tabs_navigation(data-tabgroup='profile-tab-group')
                                            li
                                                a.active(href='#genegal-tab') General settings
                                            li
                                                a(href='#account-tab') Account settings

                                .user-profile_box-main
                                    .tabgroup#profile-tab-group
                                        .tabgroup_content#genegal-tab
                                            form
                                                .user-profile_form-row
                                                    .form_control-row
                                                        span.input
                                                            input#firstName.input__field(type='text')
                                                            label.input__label(for='firstName')
                                                                span.input__label-content First name
                                                                //span.input__label-helper Helper text

                                                    .form_control-row
                                                        span.input
                                                            input#lastName.input__field(type='text')
                                                            label.input__label(for='lastName')
                                                                span.input__label-content Last name
                                                                //span.input__label-helper Helper text

                                                    .form_control-row
                                                        span.input
                                                            input#facebookProfile.input__field(type='text')
                                                            label.input__label(for='facebookProfile')
                                                                span.input__label-content Facebook profile
                                                                //span.input__label-helper Helper text

                                                    .form_control-row
                                                        span.input
                                                            input#twitterProfile.input__field(type='text')
                                                            label.input__label(for='twitterProfile')
                                                                span.input__label-content Twitter profile
                                                                //span.input__label-helper Helper text

                                                .user-profile_form-row
                                                    .user-profile_form-row-title
                                                        h5 Newsletter Frequency

                                                    fieldset#newsletterGroup.user-profile_form-row-inputs
                                                        label.radio
                                                            input(name='newsletterGroup', type='radio', checked='')
                                                            span Daily
                                                        label.radio
                                                            input(name='newsletterGroup', type='radio')
                                                            span Weekly
                                                        label.radio
                                                            input(name='newsletterGroup', type='radio')
                                                            span Never

                                                .user-profile_form-row
                                                    .user-profile_form-row-title
                                                        h5 Currency

                                                    fieldset#currencyGroup.user-profile_form-row-inputs
                                                        label.radio
                                                            input(name='currencyGroup', type='radio', checked='')
                                                            span USD
                                                        label.radio
                                                            input(name='currencyGroup', type='radio')
                                                            span EUR
                                                        label.radio
                                                            input(name='currencyGroup', type='radio')
                                                            span GBP
                                                        label.radio
                                                            input(name='currencyGroup', type='radio')
                                                            span CAD
                                                        label.radio
                                                            input(name='currencyGroup', type='radio')
                                                            span AUD
                                                        label.radio
                                                            input(name='currencyGroup', type='radio')
                                                            span JPY

                                                .user-profile_form-row#shippingInfo
                                                    .user-profile_form-row-title
                                                        h5 Shipping address

                                                    .user-profile_form-row-inputs
                                                        .user-profile_address-container
                                                            .user-profile_address-container-info
                                                                .address-row
                                                                    svg.icon
                                                                        use(xlink:href="#icon_location")
                                                                    .address-row_content
                                                                        span 35, Palanchuka str. 47
                                                                        span Lviv, Lvivska, 34512
                                                                        span Ukraine

                                                                .address-row
                                                                    svg.icon
                                                                        use(xlink:href="#icon_phone")

                                                                    .address-row_content
                                                                        span +380-966645830
                                                            .user-profile_address-container-edit
                                                                button#editShipping Edit


                                                .user-profile_form-row.edit-shipping-form#editShippingForm
                                                    .user-profile_form-row-title
                                                        h5 Shipping address

                                                    .form_control-row
                                                        .search-input.gray_style
                                                            form.search-input__form(autocomplete="off")
                                                                .search-input__autocomplete-list
                                                                    input#autocompleteCountry(type="text" placeholder="Country/Region")
                                                                    svg.icon
                                                                        use(xlink:href="#icon_search")

                                                    .form_control-row
                                                        span.input
                                                            input#streetAddress.input__field(type='text')
                                                            label.input__label(for='streetAddress')
                                                                span.input__label-content Street Address
                                                                //span.input__label-helper Helper text

                                                    .form_control-row
                                                        span.input
                                                            input#apartments.input__field(type='text')
                                                            label.input__label(for='apartments')
                                                                span.input__label-content Apartments, suite, unit, etc.
                                                                //span.input__label-helper Helper text

                                                    .form_control-row
                                                        .search-input.gray_style
                                                            form.search-input__form(autocomplete="off")
                                                                .search-input__autocomplete-list
                                                                    input#autocompleteState(type="text" placeholder="State/Province/Region")
                                                                    svg.icon
                                                                        use(xlink:href="#icon_search")

                                                    .form_control-row
                                                        span.input
                                                            input#city.input__field(type='text')
                                                            label.input__label(for='city')
                                                                span.input__label-content City
                                                                //span.input__label-helper Helper text

                                                    .form_control-row
                                                        span.input
                                                            input#zipCode.input__field(type='number')
                                                            label.input__label(for='zipCode')
                                                                span.input__label-content ZIP/POSTAL CODE
                                                                //span.input__label-helper Helper text
                                                .user-profile_form-row
                                                    button.save_button Save settings

                                        .tabgroup_content#account-tab
                                            form.account-form
                                                .user-profile_form-row
                                                    .form_control-row
                                                        span.input
                                                            input#oldPassword.input__field(type='password')
                                                            label.input__label(for='oldPassword')
                                                                span.input__label-content Old password
                                                                //span.input__label-helper Helper text

                                                    .form_control-row
                                                        span.input
                                                            input#newPassword.input__field(type='password')
                                                            label.input__label(for='newPassword')
                                                                span.input__label-content New password
                                                                //span.input__label-helper Helper text

                                                    .form_control-row
                                                        span.input
                                                            input#repeatPassword.input__field(type='password')
                                                            label.input__label(for='repeatPassword')
                                                                span.input__label-content Repeat new password
                                                                //span.input__label-helper Helper text

                                                    .form_control-row
                                                        span.input.disabled
                                                            input#email.input__field(type='text', value="info@gmail.com", data-state="not-empty", disabled="disabled")
                                                            label.input__label(for='email')
                                                                span.input__label-content Your email
                                                                //span.input__label-helper Helper text

                                                .user-profile_form-row
                                                    button.save_button Save
                                                    a(href="#").delete_button Delete my account




                    .tabgroup_content#tab2
                        section.header-container
                            .header-container_block
                                .header-container_title
                                    h1 ascas
        //- block content
        block content

        //- Footer
        include components/footer/footer.component.pug
        include components/shared/mobile-navigation/mobile-navigation.component.pug

        //- block my scripts
        script(async="", src="assets/js/scripts.min.js")
        block scripts
