.rating_block
    span.grid
    .rating_block-row
        .rating_block-description
            span Most users think about this product:
            button.open Show all results
            .popup-overlay
                .close
                .rating-block_item
                    svg.icon.back
                        use(xlink:href="#rating_money-sucker")
                    .rating_block-percentage
                        .rating_block-percentage-title
                            span It's Jedi
                        .rating_block-percentage-value
                            span 67%

                .rating-block_item
                    svg.icon.back
                        use(xlink:href="#rating_classic")
                    .rating_block-percentage
                        .rating_block-percentage-title
                            span It's Jedi
                        .rating_block-percentage-value
                            span 67%

                .rating-block_item
                    svg.icon.back
                        use(xlink:href="#rating_jedi")
                    .rating_block-percentage
                        .rating_block-percentage-title
                            span It's Jedi
                        .rating_block-percentage-value
                            span 67%

        .rating_block-ratings
            .rating_block-items
                svg.icon.back
                    use(xlink:href="#rating_classic")
                svg.icon.front
                    use(xlink:href="#rating_jedi")
                svg.icon.back
                    use(xlink:href="#rating_money-sucker")
            .rating_block-percentage
                .rating_block-percentage-title
                    span It's Jedi
                .rating_block-percentage-value
                    span 67%

                .product_actions-action.add.toggle-ratings
                    svg.icon
                        use(xlink:href="#icon_add")

                .rating_block-ratings-select
                    .rating-item
                        svg.icon
                            use(xlink:href="#rating_classic")
                        span.rating-item_title Classic
                        .rating-item_info
                            h3 Classic
                            p A professional tool that helps the master in his business.

                    .rating-item
                        svg.icon
                            use(xlink:href="#rating_fragile")
                        span.rating-item_title Fragile
                        .rating-item_info
                            h3 Fragile
                            p A professional tool that helps the master in his business.

                    .rating-item
                        svg.icon
                            use(xlink:href="#rating_future")
                        span.rating-item_title Future
                        .rating-item_info
                            h3 Future
                            p A professional tool that helps the master in his business.

                    .rating-item
                        svg.icon
                            use(xlink:href="#rating_green")
                        span.rating-item_title Green
                        .rating-item_info
                            h3 Green
                            p A professional tool that helps the master in his business.

                    .rating-item
                        svg.icon
                            use(xlink:href="#rating_hype")
                        span.rating-item_title Hype
                        .rating-item_info
                            h3 Hype
                            p A professional tool that helps the master in his business.

                    .rating-item
                        svg.icon
                            use(xlink:href="#rating_jedi")
                        span.rating-item_title Jedi
                        .rating-item_info
                            h3 Jedi
                            p A professional tool that helps the master in his business.

                    .rating-item
                        svg.icon
                            use(xlink:href="#rating_lit")
                        span.rating-item_title Lit
                        .rating-item_info
                            h3 Lit
                            p A professional tool that helps the master in his business.

                    .rating-item
                        svg.icon
                            use(xlink:href="#rating_mecha")
                        span.rating-item_title Mecha
                        .rating-item_info
                            h3 Mecha
                            p A professional tool that helps the master in his business.

                    .rating-item
                        svg.icon
                            use(xlink:href="#rating_money-sucker")
                        span.rating-item_title Money sucker
                        .rating-item_info
                            h3 Money sucker
                            p A professional tool that helps the master in his business.

                    .rating-item
                        svg.icon
                            use(xlink:href="#rating_outdated")
                        span.rating-item_title Outdated
                        .rating-item_info
                            h3 Outdated
                            p A professional tool that helps the master in his business.

                    .rating-item
                        svg.icon
                            use(xlink:href="#rating_smart-heart")
                        span.rating-item_title Smart Heart
                        .rating-item_info
                            h3 Smart Heart
                            p A professional tool that helps the master in his business.

                    .rating-item
                        svg.icon
                            use(xlink:href="#rating_unknown")
                        span.rating-item_title Unknown
                        .rating-item_info
                            h3 Unknown
                            p A professional tool that helps the master in his business.

