.rating
    &_block
        display: grid
        grid-template-columns: 110px auto

        &-row
            display: grid
            grid-template-columns: 30% 60%

        &-description
            font-size: $font-size-middle
            display: flex
            flex-direction: column
            justify-content: center
            position: relative

            .open
                background: transparent
                border: none
                color: $app-blue
                cursor: pointer
                text-align: left
                padding: 0

                &:focus, &:active
                    outline: none

        &-ratings
            display: flex
            flex-direction: column
            justify-content: center

            svg
                &.front
                    width: 86px
                    height: 86px
                    z-index: 1

                &.back
                    width: 60px
                    height: 60px

                    &:first-child, &:last-child
                        position: absolute
                        opacity: .8

                    &:first-child
                        left: 20%

                    &:last-child
                        right: 20%

            &-select
                display: none
                position: absolute
                top: 150%
                left: -150%
                background: $app-white
                box-shadow: 0 2px 4px 0 #C6C6C6
                border-radius: 50px
                padding: 5px 20px
                align-items: center
                text-align: center

                &.is-active
                    display: flex

                .rating-item
                    color: $app-black
                    font-size: 10px
                    letter-spacing: 0.4px
                    text-transform: uppercase
                    margin: 0 10px
                    position: relative
                    cursor: pointer

                    &:hover
                        .rating-item_info
                            display: block
                    
                    svg
                        width: 60px
                        height: 60px

                    &_info
                        display: none
                        position: absolute
                        top: 90px
                        background: $app-white
                        box-shadow: 0 2px 4px 0 rgba(0,0,0,.5)
                        padding: 20px 15px
                        border-radius: 10px
                        text-align: left
                        text-transform: none
                        min-width: 220px


                        h3
                            font-size: 18px
                            margin-bottom: 10px   
                                
                        p
                            margin: 0
                            font-size: 14px
                            letter-spacing: 0.36px
                            line-height: 19px


        &-items
            display: flex
            align-items: center
            justify-content: center
            position: relative

        &-percentage
            display: grid
            grid-auto-flow: column
            align-items: center
            width: 170px
            height: 34px
            background: $app-blue
            border-radius: 20px
            color: $app-white
            font-size: $font-size-regular
            font-weight: $font-weight-regular
            margin: -10px auto
            position: relative
            z-index: 4

            &-value
                text-align: center

            &-title
                height: 100%
                background: #e9ebe8
                color: $app-black
                border-radius: 20px
                font-weight: 600
                margin-left: -5px
                text-align: center

                span
                    vertical-align: middle

        .toggle-ratings
            position: absolute
            right: -50px
            background: $app-orange

            svg

                fill: $app-white
                

.popup-overlay
    visibility: hidden
    position: absolute
    min-width: 360px
    top: 100px
    padding: 16px
    z-index: 5
    background: $app-white
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50)

    .rating-block
        
        &_item
            display: flex
            align-items: center
            border-bottom: 1px solid #97979738
            padding: 16px 0

            &:first-child
                padding-top: 0

            &:last-child
                border: none
                padding-bottom: 0

            svg
                width: 80px
                height: 80px

.close
    cursor: pointer
    opacity: 0.3

.close:before, .close:after 
    position: absolute
    right: 16px
    content: ' '
    height: 16px
    width: 2px
    background-color: #333

.close:before 
    transform: rotate(45deg)

.close:after 
    transform: rotate(-45deg)

.popup-overlay.active
    visibility: visible

.popup-content
    visibility: hidden

    &.active
        visibility: visible


@media only screen and (max-width: 768px)
    .pricing
        &_block
            order: 1

    .rating
        &_block
            grid-template-columns: 100%
            order: 2

            &-description
                order: 2
                margin-top: 16px

                .open
                    text-align: center

            &-row
                text-align: center
                order: 1
                grid-template-columns: 100%

        .grid
            display: none
                
